body.error {
  &:not(.open_menu) {
    #sidenav {
      display: none;
    }
  }

  .banner {
    display: none;
  }

  background-color: #132030;
  background-image: url('/assets/img/404-bg-pattern.jpg');
  color: #8d9399;

  @media(min-width: 1600px) {
    background-size: cover;
  }

  h1 {
    color: white;
    font-family: var(--site-ui-fontFamily);
    font-size: 8rem;
    margin: 0 auto;
  }

  h2 {
    color: white;
    font-family: var(--site-ui-fontFamily);
    font-size: 2rem;
    margin: 0 auto 16px;
  }

  #page-content {
    padding: 1rem;

    a {
      color: var(--site-altLink-fgColor);

      &:active {
        color: var(--site-altLink-fgColor-active);
      }
    }
  }

  #in-content-search {
    max-width: 100%;

    input[type="search"] {
      display: inline-block;
      background: #35404d;
      color: white;
      font-size: 20px;
      padding: 10px 40px;
      border-radius: 30px;
      height: 70px;
      line-height: 70px;
      width: 40rem;
      max-width: 90%;
      margin: 2rem 1rem;

      outline-offset: 2px;
    }
  }
}
