{% if site.url == site.www %}
{% comment %}Drop the div .alert classes to revert to the default banner styling.{% endcomment -%}
<div class="banner alert alert-info">
  <p class="banner__text">
    <a href="/dart-2"><b>Dart 2.0</b></a> is now available!
    <a href="/install">Install Dart</a>.
    {% comment %}
    Still using Dart 1.x? See the
    <a href="{{site.prev-url}}" class="no-automatic-external" target="_blank" rel="noopener">archived site</a>
    or the <a href="/dart-2#migration">migration guide</a>.
    {% endcomment %}
  </p>
</div>
{% endif %}
