<div class="banner">
  <p class="banner__text">
    Dart 3 is here with
    <a href="https://dart.dev/language/records" class="no-automatic-external">records</a>,
    <a href="https://dart.dev/language/patterns" class="no-automatic-external">patterns</a>,
    and <a href="https://dart.dev/language/class-modifiers" class="no-automatic-external">class modifiers</a>.
    <a href="https://medium.com/p/53f065a10635" class="no-automatic-external">Learn more</a><br>
    Racing Forward at I/O 2023 with Dart and Flutter!
    <a href="https://io.google/2023/program/?q=keynote,technical-session,workshop,flutter" class="no-automatic-external">Watch now</a>
  </p>
</div>
