{% comment %}Drop the div .alert classes to revert to the default banner styling.{% endcomment -%}
<div class="banner">
  <p class="banner__text">
    {% comment %} TEXT GOES HERE {% endcomment %}
    Announcing <a class="no-automatic-external" href="https://github.com/tools/pub/verified-publishers">verified publishers</a> for pub.dev! For more information, see the
    <a class="no-automatic-external" href="https://medium.com/dartlang/verified-publishers-98f05466558a">announcement</a>.
  </p>
</div>
