{% if page.show_breadcrumbs == true -%}

{%- capture url %}{% if page.language%}{{ page.url | remove: "/" | remove: page.language }}{% else %}{{ page.url | remove: "/" }}{% endif %}{% endcapture -%}
{%- if url.size > 0 -%}
  <ol class="breadcrumb list-unstyled" vocab="http://schema.org/" typeof="BreadcrumbList">
  {% assign position = 0 -%}
  {%- for crumb in breadcrumbs -%}
    {%- if crumb.url == "/" -%}
      {%- continue -%}
    {%- endif -%}

    {%- assign caption = crumb.title -%}
    {%- assign position = position  | plus: 1 %}
    <li class="breadcrumb-item{% if crumb.url == page.url %} active{% endif %}" property="itemListElement" typeof="ListItem">
      {% if crumb.url != page.url %}<a property="item" typeof="WebPage" href="{{ crumb.url }}">{% endif %}
      <span property="name">{{ caption }}</span>
      {% if crumb.url != page.url %}</a>{% endif %}
      <meta property="position" content="{{ position }}" />
    </li>
  {% endfor %}
  </ol>
{%- endif -%}

{%- endif -%}
