<aside class="alert alert-info" markdown="1">
  **Note:**
  The `packages` directories are being phased out, to be
  replaced by a single `.packages` file.
  The version of <code>pub get</code> that creates the
  `.packages` file was added in Dart 1.12.
  For more information, see [pub get](/tools/pub/cmd/pub-get).

{% comment %}
Not quite ready for this...
  <p>
  `pub get` also creates one or more `packages` directories,
  unless you specify `--no-packages-symlinks`.</p>
{% endcomment %}
</aside>
