{% comment %}
https://dartpad.dev/a6907e26b96678b75303
https://gist.github.com/a6907e26b96678b75303
verticalRatio set to a value that makes output have no scrollbar.
{% endcomment %}
<div id="run-dartpad">
  <div class="container">
    <a href="#" class="button dart-button">Run DartPad</a>
  </div>
</div>
<div id="dartpad" class="hide">
  <iframe src="{{site.custom.dartpad.embed-dart-prefix}}?id={{ include.id }}&verticalRatio={{ include.verticalRatio | default: 80 }}&line={{ include.line | default: 0 }}&run={{ include.run | default: 'true' }}" width="100%" height="100%"></iframe>
</div>
