<aside class="alert alert-info" markdown="1">
**Note:**
The _Dart Tips_ videos, produced in 2012, contain useful information but don't
reflect subsequent additions to the language such as
the [`?.` operator](/guides/language/language-tour#other-operators),
[async/await](/guides/language/language-tour#asynchrony-support),
and [strong mode](/guides/language/sound-dart).
For more up-to-date introductions to Dart, try the [Dart codelabs](/codelabs) or
the [beginner tutorials and videos](https://dart.academy/tag/beginner/) at the
community site [Dart Academy.](https://dart.academy/)
</aside>

