<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Language" content="en_US" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if page.short-title %}{{ page.short-title }}{% else %}{{ page.title }}{% endif %} | {{ site.title }}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  
  <!-- Favicon / Touch Icons -->
  <link href="/favicon.ico" rel="shortcut icon">
  <link href="{% asset_path 'touch-icon-iphone.png' %}" rel="apple-touch-icon">
  <link href="{% asset_path 'touch-icon-ipad.png' %}" rel="apple-touch-icon" sizes="76x76">
  <link href="{% asset_path 'touch-icon-iphone-retina.png' %}" rel="apple-touch-icon" sizes="120x120">
  <link href="{% asset_path 'touch-icon-ipad-retina.png' %}" rel="apple-touch-icon" sizes="152x152">

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@dart_lang" />
  <meta name="twitter:title" content="{{ page.title }}" />
  <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700' rel='stylesheet' type='text/css'>
  {% stylesheet style %}
  {% for css in page.css %}
    <link href="{{ css.url }}" rel="stylesheet" type="text/css">
  {% endfor %}

  <!--
      Why don't we use Dart here?

      The only scripting we use here is stuff like the on-click footnotes on the
      front page or resizing of the left nav. These happen to be use cases where
      JavaScript and jQuery are doing just fine. Dart is here for application
      programming, not page scripting.
   -->
  {% javascript main %}
  {% for js in page.js %}
  <script {% if js.defer %}defer{% endif %} src="{{ js.url }}"></script>
  {% endfor %}
</head>
