{% unless page.toc == false or page.layout == 'homepage' %}
{% assign toc = content | toc_only %}
{% if include.extendToc -%}
  {% assign toc = toc | replace: '<ul>', '<ul class="nav">' %}
  {% assign toc = toc | replace: '<ul class="section-nav">', '<ul class="section-nav nav">' %}
  {% assign toc = toc | replace: 'class="toc-entry', 'class="toc-entry nav-item' %}
  {% assign toc = toc | replace: '<a href="#', '<a class="nav-link" href="#' %}
{% endif -%}
<div id="{{include.id}}" class="site-toc">
  <header class="site-toc__title">
    Contents
    <button type="button" class="btn site-toc--button__page-top" aria-label="Page top"></button>
  </header>
  {{ toc }}
</div>
{% endunless %}
