<div id="sidenav">
  <form action="/search/" class="site-header__search form-inline">
    <input class="site-header__searchfield form-control search-field" type="search" name="q"
           id="search-side" autocomplete="off" placeholder="Search" aria-label="Search">
  </form>

  <div class="site-sidebar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="/overview" class="nav-link">Overview</a>
      </li>
      <li class="nav-item">
        <a href="/community" class="nav-link">Community</a>
      </li>
      <li class="nav-item">
        <a href="https://dartpad.dev" class="nav-link">Try Dart</a>
      </li>
      <li class="nav-item">
        <a href="/get-dart" class="nav-link">Get Dart</a>
      </li>
      <li class="nav-item">
        <a href="/guides" class="nav-link">Docs</a>
      </li>
      <li aria-hidden="true"><div class="sidebar-primary-divider"></div></li>
    </ul>

    {% render 'sidenav-level-1.html', url:page.url, nav:side-nav %}
  </div>
</div>
