{% assign page_url_path = page.url | regex_replace: '/index$|/index\.html$|\.html$|/$' | prepend: '/*' | append: '/' -%}

<nav id="mainnav" class="site-header">
  <div id="menu-toggle"><i class="icon icon-menu"></i></div>
  <a href="/" class="brand" title="{{ site.title }}">
    <img src="{% asset shared/dart/logo+text/horizontal/white.svg @path %}" alt="{{ site.title }}">
  </a>
  <ul class="navbar">
    <li class="mainnav__get-started">
      <a href="/guides" class="nav-link
        {%- if page_url_path contains '/*/guides/' %} active {%- endif -%}"><span>Docs</span></a>
    </li>
    <li>
      <a href="/guides/platforms" class="nav-link
        {%- if page_url_path contains '/*/guides/platforms/' %} active {%- endif -%}">Platforms</a>
    </li>
    <li>
      <a href="/community" class="nav-link
        {%- if page_url_path contains '/*/community/' %} active {%- endif -%}">Community</a>
    </li>
    <li>
      <a href="/#dartpad" class="nav-link
        {%- if page_url_path contains '/*/#dartpad' %} active {%- endif -%}">Try Dart</a>
    </li>
    <li class="searchfield">
      <form action="/search" class="site-header__search form-inline" id="cse-search-box">
        <input type="hidden" name="cx" value="011220921317074318178:_yy-tmb5t_i">
        <input type="hidden" name="ie" value="UTF-8">
        <input type="hidden" name="hl" value="en">
        <input class="site-header__searchfield form-control" type="search" name="q" id="q" autocomplete="off" placeholder="Search" aria-label="Search">
      </form>
    </li>
  </ul>
</nav>
