<div id="sidenav">
  <form action="/search/" class="site-header-search form-inline">
    <input class="site-header-searchfield form-control search-field" type="search" name="q"
           id="search-side" autocomplete="off" placeholder="Search" aria-label="Search">
  </form>

  <ul class="navbar-nav">
    <li aria-hidden="true"><div class="sidenav-divider"></div></li>
    <li class="nav-item">
      <a href="/overview" class="nav-link">Overview</a>
    </li>
    <li class="nav-item">
      <a href="/community" class="nav-link">Community</a>
    </li>
    <li class="nav-item">
      <a href="https://dartpad.dev" class="nav-link">Try Dart</a>
    </li>
    <li class="nav-item">
      <a href="/get-dart" class="nav-link">Get Dart</a>
    </li>
    <li class="nav-item">
      <a href="/docs" class="nav-link">Docs</a>
    </li>
    <li aria-hidden="true"><div class="sidenav-divider"></div></li>
  </ul>

  {% render 'sidenav-level-1.html', url:page.url, nav:sidenav, activeNav:activeNav %}
</div>
