{% if page.long-title or page.title -%}
{% assign repo = page.repo | default: site.repo.this -%}
<ul class="page-github-links-menu" role="group">
  <li>
    <a href="{{repo}}/tree/{{site.branch}}/{{site.source}}/{{page.path}}"
      class="no-automatic-external"
      title="View page source"
      target="_blank" rel="noopener">
      <i class="fab fa-github fa-sm"></i>
    </a>
  </li>
  <li>
    <a href="{{repo}}/issues/new?title='{{page.title}}' page issue&body=From URL: {{site.url}}{{page.url}}"
      class="no-automatic-external"
      title="Report a bug on this page" target="_blank" rel="noopener">
      <i class="fas fa-bug fa-sm"></i>
    </a>
  </li>
</ul>
{%- endif %}
