<footer id="page-footer">
  <div class="footer-section footer-main">
    <a href="/" class="brand" title="Dart">
      <img src="/assets/img/shared/dart/logo+text/horizontal/white.svg" alt="Dart" width="164">
    </a>
    <div class="footer-social-links">
      <a href="https://medium.com/dartlang" target="_blank" rel="noopener" title="Medium blog" class="no-automatic-external">
        <svg>
          <use href="/assets/img/social/medium.svg#medium"></use>
        </svg>
      </a>
      <a href="https://github.com/dart-lang" target="_blank" rel="noopener" title="GitHub" class="no-automatic-external">
        <svg>
          <use href="/assets/img/social/github.svg#github"></use>
        </svg>
      </a>
      <a href="https://twitter.com/dart_lang" target="_blank" rel="noopener" title="X (Twitter)" class="no-automatic-external">
        <svg>
          <use href="/assets/img/social/x.svg#x"></use>
        </svg>
      </a>
    </div>
  </div>
  <div class="footer-section footer-tray">
    <div class="footer-licenses">
      Except as otherwise noted, this site is licensed under a
      <a href="https://creativecommons.org/licenses/by/4.0/" class="no-automatic-external">Creative Commons Attribution 4.0 International License</a>,
      and code samples are licensed under the
      <a href="https://opensource.org/licenses/BSD-3-Clause" class="no-automatic-external">3-Clause BSD License</a>.
    </div>
    <div class="footer-utility-links">
      <ul>
        <li><a href="/terms" title="Terms of use">Terms</a></li>
        <li><a href="https://policies.google.com/privacy" target="_blank" rel="noopener" title="Privacy policy" class="no-automatic-external">Privacy</a></li>
        <li><a href="/security" title="Security philosophy and practices">Security</a></li>
      </ul>
    </div>
  </div>
</footer>
