{% assign hasExtra = site.show_banner or page.obsolete %}
{% if hasExtra -%}
  {% assign shadowClass = '' -%}
{% else -%}
  {% assign shadowClass = 'header-shadow' -%}
{% endif -%}

<header id="page-header" class="site-header {{shadowClass}}">
  {% include navigation-main.html %}
  {% if site.show_banner %} {% include banner.html %} {% endif %}
  {% if page.obsolete == true %}
  <div class="alert alert-warning">
    <h4 class="text-center">
      Some of the content of this page might be out of date.
    </h4>
  </div>
  {% endif %}
</header>
