<footer id="page-footer">
  <div class="container">
    <div class="content">
      <div class="text-center" martdown="1">
        <style>.menu .material-icons { font-size: 14px; }</style>
        {%- assign dateFormat = '%Y/%m/%d %R %Z' -%}
        <ul class="menu">
          <li><a href="/terms">Terms</a></li>
          <li><a href="/security">Security</a></li>
          <li><a href="http://www.google.com/intl/en/policies/privacy/" class="no-automatic-external">Privacy</a></li>
          <li>Site&nbsp;<a href="http://creativecommons.org/licenses/by/3.0/" class="no-automatic-external">CC&nbsp;BY&nbsp;3.0</a></li>
          <li>
            <a href="{{site.repo.this}}"
               title="This site's source is on GitHub."
               class="no-automatic-external"><i class="fab fa-github fa-sm"></i></a>
            &nbsp;
            <a href="{{site.repo.this}}/issues"
               title="File an issue about this site."
               class="no-automatic-external"><i class="fas fa-bug fa-sm"></i></a>
            &nbsp;
            <a {% if site.data.ci.job-id %}
               href="{{site.repo.this | regex_replace: 'github.com','travis-ci.org'}}/jobs/{{site.data.ci.job-id}}"
               title="Site build #{{site.data.ci.build-number}} ({{site.data.ci.build-time | date: dateFormat}})"
               {% else %}
               title="Site built on {{site.now | default: site.time | date: dateFormat}}"
               {% endif %}
               class="no-automatic-external"><i class="fas fa-wrench fa-sm"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
