_asset_bundler_cache
_bookhtml
_cache/
_site/
.*-cache
.*-metadata
.buildlog
.dart_tool
.DS_Store
.env*
.firebase
.idea
.packages
.pub
.spelling
.vscode
*.cache
*.iml
*.js.deps
*.log
*.pyc
*.swp
*.zip
build
firebase-debug.log
node_modules
pubspec.lock
tmp

# Misc
trash
/src/_data/ci.yaml
