*.iml
*.js.deps
*.pyc
*.swp
.buildlog
.DS_Store
.idea
.packages
.pub
.sass-cache/
_asset_bundler_cache
_bookhtml
_cache/
_site/
build
node_modules/
pubspec.lock
scripts/packages

src/site/events/2015/summit/node_modules

# ============= OCUPOP =============
# RVM users
.ruby-gemset
.ruby-version

# Cache files
.sass-cache
.asset-cache
.jekyll-metadata

# Deployment Files
publish
credentials.tar.gz
client-secret.json
tmp

# Misc
trash

firebase-debug.log
