language: ruby
sudo: false
cache:
  bundler: true
  directories:
  # - $HOME/[path]
rvm: 2.4.2

env:
  global:
    - JEKYLL_ENV=production
    - NOKOGIRI_USE_SYSTEM_LIBRARIES=true # speeds up installation of html-proofer

before_install:
  - nvm install 6
  - nvm use 6

install:
  - bundle install
  - npm install -g firebase-tools superstatic --no-optional
  - ./scripts/write-ci-info.sh -v

script:
  - ./deploy/cibuild

after_script:
  # Just FYI test. Won't fail the build if it has errors.
  - ./deploy/check_sitemap.rb
  - ./deploy/html_proof.rb
  # # Checks for bad HTML, broken links, and forces build to fail if it fails.
  # # (By default, Travis doesn't fail builds after deployment.)
  # - "./deploy/html_proof.rb || travis_terminate 1"

# branch whitelist
# branches:
#   only:
#   - master        # test the master branch
#   - /stage-(.*)/  # test every branch which starts with "stage-"

deploy:
  - provider: script
    script: ./deploy/deploy-firebase.sh
    skip_cleanup: true
    on:
      branch: master
