language: dart
dart: [stable, dev]

cache:
  timeout: 300
  bundler: true
  directories:
  - $HOME/.pub-cache
  - $HOME/.nvm
  - $HOME/.rvm
  - node_modules

env:
  global:
    - JEKYLL_ENV=production
    - TZ=US/Pacific # normalize build timestamp
  matrix:
    - TASK="./tool/build.sh --check-links"
    - TASK="./tool/check-code.sh"
    - TASK="./tool/analyze-and-test-examples.sh"

# matrix:
#   allow_failures:
#     - env: TASK="./tool/analyze-and-test-examples.sh"
#       dart: dev

before_install:
  - source ./tool/env-set.sh
  - ./tool/before-install.sh

install:
  - ./tool/install.sh
  - ./tool/shared/write-ci-info.sh -v

script: $TASK

deploy:
  - provider: script
    script: ./tool/shared/deploy.sh --robots ok default
    skip_cleanup: true
    on:
      repo: dart-lang/site-www
      branch: master
      condition: $TASK == *build* && $TRAVIS_DART_VERSION == stable

# Only run Travis jobs for named branches (to avoid double builds for each PR)
branches:
  only: [master, /^\d\.x$/, /^\d-dev$/, /travis-build/]
