language: dart
dart: 2.0.0-dev.68.0

cache:
  timeout: 300
  bundler: true
  directories:
  - $HOME/.pub-cache
  - $HOME/.nvm
  - $HOME/.rvm
  - node_modules

env:
  global:
    - JEKYLL_ENV=production
    - TZ=US/Pacific # normalize build timestamp
  matrix:
    - TASK="./scripts/check-code.sh"
    - TASK="./scripts/analyze-and-test-examples.sh"
    - TASK="bundle exec jekyll build"

matrix:
  # Once we start building under stable again, reactivate the following exclusion:
  # exclude:
  #   - env: TASK="bundle exec jekyll build"
  #     dart: dev

before_install:
  - source ./scripts/env-set.sh
  - ./scripts/before-install.sh

install:
  - ./scripts/install.sh
  - ./scripts/write-ci-info.sh -v

script:
  - $TASK

after_script:
  - if [[ $TASK == *build* ]]; then ./scripts/shared/check-links.sh || travis_terminate 1; fi
  # Just FYI test. Won't fail the build if it has errors.
  # - if [[ $TASK == *build* ]]; then ./deploy/check_sitemap.rb; fi
  # - if [[ $TASK == *build* ]]; then ./deploy/html_proof.rb; fi
  # # Checks for bad HTML, broken links, and forces build to fail if it fails.
  # # (By default, Travis doesn't fail builds after deployment.)
  # - "./deploy/html_proof.rb || travis_terminate 1"

deploy:
  - provider: script
    script: ./deploy/deploy-firebase.sh
    skip_cleanup: true
    on:
      repo: dart-lang/site-www
      branch: master
      condition: $TASK == *build*
# Only run Travis jobs for named branches (to avoid double builds for each PR)
branches:
  only: [master, /^\d\.x$/, /^\d-dev$/, /travis-build/]
