sudo: required # fall back to false once https://github.com/travis-ci/travis-ci/issues/8836 is fixed
language: ruby
rvm: 2.4.2

cache:
  bundler: true
  directories:
  # - $HOME/[path]

addons:
  chrome: stable

env:
  global:
    - JEKYLL_ENV=production
    - NOKOGIRI_USE_SYSTEM_LIBRARIES=true # speeds up installation of html-proofer
  matrix:
    - TASK=./scripts/dartfmt.sh
    - TASK=./scripts/analyze-and-test-examples.sh
    - TASK=./deploy/cibuild

before_install:
  - nvm install 8
  - source ./scripts/env-set.sh
  - ./scripts/before-install.sh

install:
  - ./scripts/install.sh
  - ./scripts/write-ci-info.sh -v

script:
  - $TASK

after_script:
  # Just FYI test. Won't fail the build if it has errors.
  - if [[ $TASK == *build* ]]; then ./deploy/check_sitemap.rb; fi
  - if [[ $TASK == *build* ]]; then ./deploy/html_proof.rb; fi
  # # Checks for bad HTML, broken links, and forces build to fail if it fails.
  # # (By default, Travis doesn't fail builds after deployment.)
  # - "./deploy/html_proof.rb || travis_terminate 1"

# branch whitelist
# branches:
#   only:
#   - master        # test the master branch
#   - /stage-(.*)/  # test every branch which starts with "stage-"

deploy:
  - provider: script
    script: ./deploy/deploy-firebase.sh
    skip_cleanup: true
    on:
      repo: dart-lang/site-www
      branch: master
      condition: $TASK == *build*
