@use '../core/variables' as *;
@use '../core/mixins' as *;

:root {
  --site-interaction-base-values: 0 0 0;
  --site-interaction-base-values-inverse: 255 255 255;
  --focus-outline-color: #1967D2;
}

body {
  font-family: $site-font-family-base;
  font-size: $font-size-base;
  font-weight: 400;
  line-height: 1.5;
  color: $site-color-body;

  height: 100vh;
}

section {
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $site-font-family-gsans;
  font-weight: 400;
  line-height: 1.2;
  color: $site-color-body;
}

h1, .h1 {
  font-family: $site-font-family-gsans-display;
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 0;
}

h2, .h2 {
  font-size: 1.5rem;
}

h3, .h3 {
  font-size: 1.3125rem;
}

h4, .h4 {
  font-size: 1.125rem;
}

h5, .h5 {
  font-size: 0.9375rem;
}

h6, .h6 {
  font-size: 0.9375rem;
}

dt {
  a {
    font-weight: 500;
  }
}

a, button {
  text-decoration: none;
  color: $brand-primary;
  font-family: $site-font-family-base;
  font-weight: 400;
  cursor: pointer;
  background: none;

  &:visited {
    color: $brand-primary;
  }

  &.filled-button, &.text-button {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    gap: 0.5rem;
    width: fit-content;
    cursor: pointer;
    font-size: 1.25rem;
    white-space: nowrap;

    font-family: $site-font-family-alt;

    &:focus-visible {
      outline: 2px solid var(--focus-outline-color);
    }
  }

  &.filled-button {
    background-color: $site-color-primary;
    border-radius: 0.25rem;
    outline-offset: 2px;

    &, &:hover, &:focus, &:active {
      color: $site-color-white;
      text-decoration: none;
    }

    &:hover {
      @include interaction-style(4%);
    }

    &:active {
      @include interaction-style(8%);
    }
  }

  &.text-button {
    border-radius: 1.5rem;

    &, &:hover, &:focus, &:active {
      color: $site-color-primary;
      background: none;
      text-decoration: none;
    }

    &:hover {
      @include interaction-style(4%);
    }

    &:active {
      @include interaction-style(7%);
    }
  }
}

.button-group {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
}

button {
  &:hover, &:focus, &:active {
    color: $flutter-color-blue-700;
    outline: none;
    text-decoration: none;
  }

  &:active {
    color: $flutter-color-blue-800;
  }
}

a {
  border-radius: 0.2rem;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: $flutter-color-blue-600;
  }
}

ul {
  padding-inline-start: 2rem;
}

img {
  max-width: 100%;
  height: auto;
}

dd {
  margin-bottom: 0.75rem;
  margin-top: 0.25rem;
}

blockquote {
  border: solid #b3b3b3;
  border-width: 1px 0;
  margin: 20px;
  padding: 10px 20px 0 20px;
}

details {
  margin-block-start: 1rem;
  margin-block-end: 1rem;

  > summary {
    font-weight: 500;
    user-select: none;
    cursor: pointer;

    &:hover {
      color: $brand-primary;
    }
  }

  &[open] {
    margin-bottom: unset;

    > summary {
      margin-bottom: 0.75rem;
    }
  }

  > :not(:first-child) {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}

figure {
  figcaption {
    text-align: center;
  }
}
