@use 'sass:color';

@use '../base/variables' as *;

#site-banner {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-family: $site-font-family-alt;
  font-size: 1rem;

  gap: 0.5rem;
  padding: 0.75rem;
  text-align: center;
  background-color: $dash-callout;
  color: $site-color-white;

  p {
    overflow-wrap: anywhere;
    word-break: normal;
    margin: 0;
    flex-grow: 1;
  }

  a, button {
    color: $site-color-card-link;

    &:hover {
      color: color.mix($site-color-white, $site-color-card-link, 25%);
    }

    &:active {
      color: color.mix($site-color-white, $site-color-card-link, 50%);
    }
  }
}
