@use '../core/variables' as *;

.banner {
  background-color: $dash-callout;
  padding: 0.75rem 0;
  text-align: center;
  z-index: 1000;

  p {
    font-family: $site-font-family-alt;
    font-size: 1rem;

    color: $site-color-header-text;
    margin: 0;

    a {
      color: $site-color-card-link;

      &:active {
        color: darken($site-color-card-link, 20%);
      }
    }
  }
}
