@use '../base/variables' as *;

nav.breadcrumbs {
  align-items: center;
  margin-block-start: 0.25rem;
  margin-block-end: 1rem;

  ol.breadcrumb-list {
    margin: 0;
    border-radius: 0.375rem;
    padding: 0.375rem 0;

    align-items: center;
    list-style: none;

    font-family: $site-font-family-alt;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    li.breadcrumb-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0;

      & a {
        padding: 0.125rem;
        border-radius: 0.125rem;
      }

      &.active a {
        color: $site-color-nav-links;
        cursor: default;
        text-decoration: none;
      }

      &:before {
        display: none;
      }
    }

    .child-icon {
      user-select: none;
    }
  }
}
