@use '../base/mixins' as mixins;
@use '../base/variables' as *;

a, button {
  // Reset style of buttons and anchors.
  text-decoration: none;
  cursor: pointer;
  background: none;
  border: none;
  font-weight: 400;

  &.filled-button, &.icon-button, &.text-button, &.outlined-button {
    // Reset style of buttons.
    user-select: none;
    padding: 0;

    // Shared layout styles.
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: fit-content;
    white-space: nowrap;
    font-family: $site-font-family-alt;
    font-size: 1rem;
    outline-offset: 2px;

    &.hidden {
      display: none;
    }

    &:hover {
      @include mixins.interaction-style(6%);
      text-decoration: none;
    }

    &:active {
      @include mixins.interaction-style(10%);
      text-decoration: none;
    }

    &:focus-visible {
      outline: 2px solid var(--focus-outline-color);
    }
  }

  &.filled-button, &.outlined-button, &.text-button {
    padding: 0.25rem 0.75rem;
    gap: 0.4rem;

    // A larger call-to-action button.
    &.large-button {
      padding: 0.6rem 1.2rem;
      font-size: 1.5rem;
      gap: 0.75rem;
    }
  }

  &.filled-button {
    background-color: #06599C;
    outline-offset: 2px;

    // Ensure color takes precedence over other anchor styling.
    &, &:hover, &:focus, &:active {
      color: $site-color-white;
    }

    span.material-symbols {
      font-variation-settings: 'FILL' 1;
      font-size: 20px;
    }
  }

  &.icon-button {
    height: 2rem;
    width: 2rem;

    padding: 0.2rem;
    color: #3a3a3a;

    span {
      font-size: 22px;
    }
  }

  &.text-button, &.outlined-button {
    // Ensure color takes precedence over other anchor styling.
    &, &:hover, &:active, &:focus {
      color: #3a3a3a;
    }
  }

  &.outlined-button {
    border: 1px solid rgba(0, 0, 0, .125);
  }
}
