@use 'sass:color';

@use '../core/colors' as *;
@use '../core/variables' as *;
@use '../core/bootstrap';

//
// Code-prettyprint overrides
//
pre {
  margin-bottom: 1rem;
  font-size: 0.9375rem; // 15px
  font-weight: bootstrap.$font-weight-normal;
  padding: 1.25rem;

  a {
    font-family: inherit;
    font-weight: inherit;
  }
  
  .highlight {
    background: $flutter-color-yellow;
    padding: 0.1em;
  }

  .highlight-diagnostics & {
    .highlight {
      border-bottom: 2px $red-500 dashed;
      background: inherit;
      padding: 0;
    }
  }
  
  &:focus {
    outline: none;
  }
  
  span.line {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    width: 100%;
    display: inline-block;
    
    &.highlighted-line {
      background: color.change($brand-primary, $alpha: 0.1);
    }
  }
  
  &.show-line-numbers code {
    span.line {
      padding-left: 0.5rem;
      
      &[data-line]::before {
        display: inline-block;
        content: attr(data-line) "";
        width: 2em;
        margin-right: 0.5rem;
        text-align: right;
        color: $dash-sub-grey;
      }
    }
  }
}

.code-block-wrapper {
  margin-bottom: 1rem;
  border: 1px solid $flutter-color-grey-500;
  
  .code-block-header {
    background-color: #e9ecef;
    border-bottom: 1px solid $flutter-color-grey-500;
    font-size: 0.9375rem;
    font-weight: 500;
    padding: 0.75rem 0.5rem 0.67rem 1rem;
  }
  
  .code-block-body {
    background-color: $site-color-codeblock-bg;
    
    .code-block-tag {
      font-family: $font-family-monospace;
      font-size: 0.8125rem;
      font-weight: 500;
      position: absolute;
      top: 6px;
      left: 8px;
    }
  }
  
  &:has(:focus-visible) {
    border-color: #1389FD;
  }
  
  pre {
    margin-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    
    &:not([lang="console"]) {
      line-height: 1.8;
    }
  }
}

//
// Rouge / pygments classes -- https://github.com/jneen/rouge
//
// For CSS class names, see
// - https://github.com/rouge-ruby/rouge/blob/master/lib/rouge/token.rb
// - https://github.com/rouge-ruby/rouge/wiki/List-of-tokens, doc page,
//   but doesn't seem to be as complete as token.rb.
//
$generic-output-color: white;

@mixin console-base($color: $light-green-A700) {
  background: $grey-900;
  color: $color;
}

.language-console .highlight {
  @include console-base;
  .go { color: $generic-output-color; } /* Generic.Output */
}

pre.console-output {
  @include console-base($generic-output-color)
}

// Dart-site specific style overrides
.highlight .gp { user-select: none; }

// Border and resizability for dartpad
iframe[src^="https://dartpad"]:not(#try-dart-pad) {
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  min-height: 400px;
  resize: vertical;
  width: 100%;
}
