@use '../core/variables' as *;

.site-header {
  background-color: $site-color-white;
  font-family: $site-font-family-alt;
  position: sticky;
  top: 0;
  z-index: $site-z-header;

  .navbar {
    font-size: 1.25rem;
    min-height: $site-header-height;

    @media (min-width: 768px) {
      font-size: $font-size-base;
    }

    .navbar-toggler {
      color: $site-color-body;
      margin-right: 1rem;
      padding: 0;

      .material-symbols {
        font-size: 28px;
      }
    }

    .navbar-brand {
      margin-right: auto;
    }

    .nav-link {
      color: $site-color-nav-links;
      padding: 1.25rem 0;
      position: relative;
      text-decoration: none;

      @media (min-width: 768px) {
        padding: 0 1rem;
      }

      &.active {
        color: $site-color-body;
        font-weight: 500;

        @media (min-width: 768px) {
          &:after {
            $nav-active-marker-thickness: 3px;
            background-color: $site-color-card-link;
            content: '';
            display: block;
            height: $nav-active-marker-thickness;
            left: 0;
            position: absolute;
            top: calc(50% + (#{$site-header-height} / 2) - #{$nav-active-marker-thickness});
            width: 100%;
          }
        }
      }
    }
  }

  &__search {
    position: relative;

    &::before {
      content: 'search';
      font: $site-font-icon;
      pointer-events: none;
      position: absolute;
      left: 0.25rem;
    }

    @media (min-width: 768px) {
      margin-left: 1rem;
    }
  }

  &__searchfield {
    border: 0;
    padding-left: 2rem;
    font-size: 1.25rem;
    height: 3rem;
    width: 100%;

    @media (min-width: 768px) {
      font-size: 0.875rem;
      height: unset;
      transition: width .35s ease-in-out;
      width: 24px !important;

      &:focus {
        width: 220px !important;
      }
    }
  }
}
