@use '../base/variables' as *;

#site-header {
  background-color: $site-color-white;
  font-family: $site-font-family-alt;
  position: sticky;
  top: 0;
  z-index: $site-z-header;

  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);

  .navbar {
    font-size: 1.25rem;
    min-height: $site-header-height;

    @media (min-width: 768px) {
      font-size: $font-size-base;
    }

    .navbar-toggler {
      color: $site-color-body;
      margin-right: 1rem;
      padding: 0;

      .material-symbols {
        font-size: 28px;
      }
    }

    .navbar-brand {
      margin-right: auto;
    }

    .nav-link {
      color: $site-color-nav-links;
      padding: 1.25rem 0;
      position: relative;
      text-decoration: none;

      @media (min-width: 768px) {
        padding: 0 1rem;
      }

      &.active {
        color: $site-color-body;
        font-weight: 500;

        @media (min-width: 768px) {
          &:after {
            $nav-active-marker-thickness: 3px;
            background-color: $site-color-card-link;
            content: '';
            display: block;
            height: $nav-active-marker-thickness;
            left: 0;
            position: absolute;
            top: calc(50% + (#{$site-header-height} / 2) - #{$nav-active-marker-thickness});
            width: 100%;
          }
        }
      }
    }
  }

  .site-header-search {
    position: relative;

    &::before {
      content: 'search';
      font: $site-font-icon;
      pointer-events: none;
      position: absolute;
      left: 0.25rem;
    }

    @media (min-width: 768px) {
      margin-left: 1rem;
    }
  }

  .site-header-searchfield {
    border: 0;
    padding-left: 2rem;
    font-size: 1.25rem;
    height: 3rem;
    width: 100%;

    @media (min-width: 768px) {
      font-size: 0.875rem;
      height: unset;
      transition: width .35s ease-in-out;
      width: 24px !important;

      &:focus {
        width: 220px !important;
      }
    }
  }

  #mainnav {
    background-color: $site-color-header;
    color: $site-color-header-text;
    display: flex;
    align-items: center;

    ul {
      margin: 0 0 0 auto;
      padding: 0;
      list-style: none;

      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      li {
        padding: 0 0.75rem;

        a {
          color: $site-color-header-text;
          display: inline-block;
          padding: 0 6px;
          font-size: $site-font-size-header;
          font-weight: 400;
          font-family: $site-font-family-alt;

          &:hover, &:active {
            color: $site-color-card-link;
          }
        }

        &.searchfield {
          position: relative;

          form {
            display: flex;
            align-items: center;
          }
        }

        // TODO(parlough): Reverse and simplify these media queries.
        @media(max-width: 960px) {
          display: none;

          &.searchfield {
            display: block;
          }
        }

        @media(max-width: 479px) {
          &.searchfield {
            display: none;
          }
        }
      }
    }

    .brand {
      display: flex;
      width: 5.5rem;
      overflow: hidden;
      margin-left: 1.25rem;
      align-items: center;
    }
  }

  #menu-toggle {
    display: none;
    align-items: center;
    line-height: $site-header-height;
    margin-left: 20px;
    padding-right: 10px;
    cursor: pointer;
    z-index: 100;
    user-select: none;

    span {
      font-size: 32px;
    }

    // TODO(parlough): Reverse and simplify these media queries.
    @media(max-width: 479px) {
      order: 2;
    }

    @media(max-width: 1024px) {
      display: flex;
    }
  }
}
