#site-header {
  background-color: #fff;
  font-family: var(--site-ui-fontFamily);
  position: sticky;
  top: 0;
  z-index: 1000;

  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);

  .navbar {
    font-size: 1.25rem;
    min-height: var(--site-header-height);

    @media (min-width: 768px) {
      font-size: 1rem;
    }

    .navbar-toggler {
      color: var(--site-base-fgColor);
      margin-right: 1rem;
      padding: 0;

      .material-symbols {
        font-size: 28px;
      }
    }

    .navbar-brand {
      margin-right: auto;
    }

    .nav-link {
      color: var(--site-base-fgColor-alt);
      padding: 1.25rem 0;
      position: relative;
      text-decoration: none;

      @media (min-width: 768px) {
        padding: 0 1rem;
      }

      &.active {
        color: var(--site-base-fgColor);
        font-weight: 500;

        @media (min-width: 768px) {
          &:after {
            $nav-active-marker-thickness: 3px;
            background-color: var(--site-altLink-fgColor);
            content: '';
            display: block;
            height: $nav-active-marker-thickness;
            left: 0;
            position: absolute;
            top: calc(50% + (var(--site-header-height) / 2) - #{$nav-active-marker-thickness});
            width: 100%;
          }
        }
      }
    }
  }

  .site-header-search {
    position: relative;

    &::before {
      content: 'search';
      font: 24px / 1 var(--site-icon-fontFamily);
      pointer-events: none;
      position: absolute;
      left: 0.25rem;
    }

    @media (min-width: 768px) {
      margin-left: 1rem;
    }
  }

  .site-header-searchfield {
    border: 0;
    padding-left: 2rem;
    font-size: 1.25rem;
    height: 3rem;
    width: 100%;

    @media (min-width: 768px) {
      font-size: 0.875rem;
      height: unset;
      transition: width .35s ease-in-out;
      width: 24px !important;

      &:focus {
        width: 220px !important;
      }
    }
  }

  #mainnav {
    background-color: var(--site-chrome-bgColor);
    color: var(--site-chrome-fgColor);
    display: flex;
    align-items: center;

    ul {
      margin: 0 0 0 auto;
      padding: 0;
      list-style: none;

      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      li {
        padding: 0 0.75rem;

        a {
          color: var(--site-chrome-fgColor);
          display: inline-block;
          padding: 0 6px;
          font-size: 1rem;
          font-weight: 500;
          font-family: var(--site-ui-fontFamily);

          &:hover {
            color: var(--site-altLink-fgColor);
          }

          &:active {
            color: var(--site-altLink-fgColor-active);
          }
        }

        &.searchfield {
          position: relative;

          form {
            display: flex;
            align-items: center;
          }
        }

        // TODO(parlough): Reverse and simplify these media queries.
        @media(max-width: 960px) {
          display: none;

          &.searchfield {
            display: block;
          }
        }

        @media(max-width: 479px) {
          &.searchfield {
            display: none;
          }
        }
      }
    }

    .brand {
      display: flex;
      width: 5.5rem;
      overflow: hidden;
      margin-left: 1.25rem;
      align-items: center;
    }
  }

  #menu-toggle {
    display: none;
    align-items: center;
    line-height: var(--site-header-height);
    margin-left: 20px;
    padding-right: 10px;
    cursor: pointer;
    z-index: 100;
    user-select: none;

    span {
      font-size: 32px;
    }

    // TODO(parlough): Reverse and simplify these media queries.
    @media(max-width: 479px) {
      order: 2;
    }

    @media(max-width: 1024px) {
      display: flex;
    }
  }
}
