@use '../base/variables' as *;

$tab-accent-color: $site-color-primary;

.tabs {
  &__content {
    display: none;
    border: 2px solid $tab-accent-color;
    padding: 15px;
    margin-bottom: 15px;

    &.current {
      display: inherit;
    }

    > .header-wrapper:first-child {
      margin-block-start: 0.25rem;

      h1, h2, h3, h4, h5, h6 {
        margin-block-start: 0;
      }
    }
  }

  &__top-bar {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      background: none;
      color: $site-color-body;
      display: inline-block;
      padding: 10px 15px;
      cursor: pointer;

      &.current {
        background: $tab-accent-color;
        color: #fff;
      }
    }
  }
}
