@media print {
  // Don't display navigation aids when printing.
  #site-header, #sidenav, #prev-next, #page-footer, .banner,
  #site-toc--inline, #site-toc--side, #page-github-links, #cookie-notice {
    display: none !important;
  }

  #page-content {
    > article {
      width: auto;
      margin: 0;
    }
  }

  // Display underlines under links.
  a {
    text-decoration: underline;
  }

  // Remove external link icon and link path.
  a:after {
    content: none !important;
  }

  // Show borders around notes and code blocks.
  .alert, pre {
    border: 1px solid var(--site-base-fgColor-lighter);
  }
}
