// Colors
$flutter-color-blue: #043875;
$flutter-color-dark-blue: #042B59;
$flutter-color-blue-600: #0553B1;
$flutter-color-blue-700: $flutter-color-blue;
$flutter-color-blue-800: $flutter-color-dark-blue;
$flutter-color-yellow-300: #FFF59C;
$flutter-color-grey-500: #E8EAED;
$site-color-dark-background: #1C2834;
$site-color-white: #FFF;
$site-color-codeblock-bg: rgba(248, 249, 250, 0.9);
$site-color-light-grey: #DADCE0;
$site-color-nav-links: #6E7274;
$site-color-body: #212121;
$site-color-body-light: #4A4A4A;

$site-color-primary: #1967D2;
$site-color-card-link: #40C4FF;

// Fonts
$site-font-family-gsans: 'Google Sans', 'Roboto', sans-serif;
$site-font-family-gsans-display: 'Google Sans Display', 'Google Sans', 'Roboto', sans-serif;
$site-font-family-base: 'Google Sans Text', 'Roboto', sans-serif;
$site-font-family-alt: $site-font-family-gsans;
$site-font-family-icon: 'Material Symbols Outlined';
$site-font-family-monospace: 'Google Sans Mono', 'Roboto Mono', Menlo, 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', Monaco, Consolas, monospace;
$site-font-icon: 24px/1 $site-font-family-icon;

// Layout
$site-header-height: 3.25rem;
$site-content-top-padding: 2rem;

// Alerts
$alert-success-bg:        #f1fbf9;
$alert-success-fg:        #155723;
$alert-warning-bg:        #fcf8e3;
$alert-danger-bg:         #fef3f6;
$alert-danger-fg:         #cb1425;

// Dash colors
$dash-callout: #121a26;
$dash-sub-grey: #8d9399;
$dash-dark-grey: #82878c;
$dash-off-white: #f8f9fa;
$dash-dark-black: #4a4a4a;
$dash-highlight: #1967d2;
$dash-off-black: #12202f;
$dark-darker-black: #0d1520;
$dash-header-bg: #17212f;
$dash-dartpad-border: #293542;
