<!DOCTYPE html>
<html lang="en">
  {% include 'head.html' %}
  {% if toc != false -%}
    {% assign tocContents = content | generate_toc %}
    {% if tocContents == null or tocContents == '' -%}
      {% assign toc = false %}
    {% endif -%}
  {% endif -%}
  <body class="{{layout}}{% if toc %}{% if toc == false %} hide_toc{% endif %}{% endif %}{% if obsolete %}{% if obsolete == true %} obsolete{% endif %}{% endif %}{% if site.show_banner == true %} show_banner{% endif %}{% if body_class %} {{ body_class }}{% endif %}">
    {% include 'cookie-notice.html' %}
    {% include 'gtags.html' %}
    {% include 'page-header.html', obsolete:obsolete %}
    {% include 'navigation-side.html' %}
    <main id="page-content">
      {% if toc != false -%}
      {% include 'navigation-toc-side.html', tocContents:tocContents %}
      {% endif -%}
      <article>
        <div class="content">
          {% include 'navigation-sub.html' -%}
          <div id="site-content-title">
            {% include 'page-github-links.html' -%}
            {% if underscore_breaker_titles -%}
            <h1>{{title | underscore_breaker}}</h1>
            {% else %}
            <h1>{{title }}</h1>
            {% endif -%}
            {% if show_breadcrumbs == true -%}
              {% include 'breadcrumbs.html' -%}
            {% endif -%}
          </div>
          {% if toc != false -%}
          {% include 'navigation-toc-top.html', tocContents:tocContents -%}
          {% endif -%}
          {{ content }}
          {% include 'navigation-sub.html' -%}
        </div>
      </article>
    </main>
    {% include 'page-footer.html' %}
  </body>
</html>
