---
layout: default
---
{% if page.points %}
  <div class="panel">
    <h4>What's the point?</h4>
    <ul>
      {% for point in page.points %}
      <li>{{ point }}</li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
{{ content }}

{% comment %}
  {% if page.examples %}
    <div class="panel">
      <h4>Examples</h4>
      <ul>
        {% for example in page.examples %}
        <li>
          {% if example.url %}
            <a href="{{ example.url }}"
              target="_blank" rel="noopener">{{ example.title }}</a>
          {% else %}
            {{ example.title }}
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endcomment %}
