<div class="archive-table" data-channel="{{channel}}">
  <form class="form-inline">
    <div class="form-group select">
      <label for="{{channel}}-versions">Version:</label>
      <select id="{{channel}}-versions"></select>
    </div>
    <div class="form-group select">
      <label for="{{channel}}-os">OS:</label>
      <select id="{{channel}}-os">
        <option value="all">All</option>
        <option value="macos" id="{{channel}}-macos" class="macos-option">macOS</option>
        <option value="linux" id="{{channel}}-linux" class="linux-option">Linux</option>
        <option value="windows" id="{{channel}}-windows" class="windows-option">Windows</option>
      </select>
    </div>
  </form>
  <div class="table-wrapper">
    <table id="{{channel}}" class="table">
      <thead>
        <tr>
          <th>Version</th>
          <th>OS</th>
          <th>Architecture</th>
          <th>Release date</th>
          <th>Downloads</th>
        </tr>
      </thead>
      <tbody>
        <tr class="template">
          <td>0.0.0 (ref 00000)</td>
          <td>---</td>
          <td>---</td>
          <td>01/01/1970</td>
          <td>---</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
