.book {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  .cover {
    margin: 0;
    img {
      max-width: none;
    }
  }
  .details {
    margin-left: 20px;
    .title {
      margin: 0;
    }
    .authors {
      margin: 0;
      margin-bottom: 5px;
    }
  }
}