.code-note {
  color: Black;
  background-color: White;
  border: 2px solid LightSteelBlue;
  border-radius: 9px;
  padding-left: 7px;
  padding-right: 7px;
  font-family: "Roboto", sans-serif;
}

.beta-note {
  color: Gainsboro;
  font-size: 72px;
}

.prettify-filename {
	text-align: right;
	color: Silver;
	margin-top: -45px;
	margin-bottom: 10px;
	margin-right: 10px;
}
