.zone1 {
  background-color: rgb(208, 211, 255);
}

.zone2 {
  background-color: rgb(195, 255, 231);
}

.zone3 {
  background-color: rgb(255, 240, 164);
}

.subtitle {
  font-size: 1.5em;
  color: Silver;
  font-weight: bold;
  font-style: italic;
}
