.book-img-with-details {
  margin-bottom: 1.5rem;

  img {
    width: 100%;
    max-width: 200px;

    @media (min-width: 768px) {
      max-width: unset;
    }
  }

  .details {
    .title {
      margin-bottom: 0;

      @media (min-width: 768px) {
        margin-top: 0;
      }
    }
  }
}
