@use 'core/variables' as *;

$tab-accent-color: $brand-primary;

ul.tabs__top-bar {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.tabs__top-bar li {
  background: none;
  color: $gray-base;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
}

ul.tabs__top-bar li.current {
  background: $tab-accent-color;
  color: $white-base;
}

.tabs__content {
  display: none;
  border: 2px solid $tab-accent-color;
  padding: 15px;
  margin-bottom: 15px;
}

.tabs__content.current {
  display: inherit;
}
