@use 'core/variables' as *;
@use 'core/bootstrap';

/* Add space between definitions. */
dd {
  margin-bottom: 15px;
}

b, strong {
  font-weight: bold;
}

a {
  code {
    color: $default-link;
  }

  &:hover, &:focus, &:active {
    code {
      color: lighten($default-link, 25%);
    }
  }
}

.btn-primary, .btn-primary:visited {
  color: white;
}

/* Effective Dart TOC */

.effective_dart--summary_column {
  @include bootstrap.media-breakpoint-up(md) {
    width: 50%;
    float: left;
    padding-right: 5%;
  }
}

@media print {
  /* Don't display navigation aids when printing */
  #page-header, #sidenav, #subnav, #page-footer, .banner,
  #toc, #site-toc--inline, #site-toc--side, #page-github-links {
    display: none !important;
  }

  #page-content {
    > article {
      width: auto;
      margin: 0;
    }
  }

  /* Display underlines under links */
  a {
    text-decoration: underline;
  }

  /* Remove external link icon and link path */
  a:after {
    content: none !important;
  }

  /* Show borders around notes and code blocks */
  .alert, pre {
    border: 1px solid black;
  }
}

/* Overwrite bootstrap: don't wrap code */
pre code {
  white-space: pre;
}

/* Effective Dart linter rules */
.linter-rule {
  font-size: smaller;
  font-style: italic;
}
