@use 'core/variables' as *;
@use 'core/colors';
@use 'core/mixins' as *;

@use 'vendor/prettify';

@use 'core/bootstrap';
@use 'core/base';

@use 'components/banner';
@use 'components/code';
@use 'components/cookie-notice';
@use 'components/form';
@use 'components/header';
@use 'components/search';
@use 'components/sidebar';
@use 'components/toc';

@use 'dartvm';
@use 'books';
@use 'os-tabs';
@use 'overwrites';
@use 'dash';

// Extra variables (defined in terms of bootstrap and other defaults)
$font-color: bootstrap.$body-color;
$font-weight-light-bold: (bootstrap.$font-weight-normal + bootstrap.$font-weight-bold) * 0.5;


// Disable template-generated external links.
i.fa-external-link-alt {
  a.external & {
    display: none;
  }

  #sidenav & {
    display: none;
  }
}


/* -----------------------------------------
  DOM
  ----------------------------------------- */

#page-header {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);

  // override of shared/_header.scss
  .site-header {
    box-shadow: none;

    .navbar {
      .nav-link {
        &.active {
          &:after {
            background-color: $site-color-card-link;
          }
        }
      }
    }
  }
}

#page-content {
  min-height: calc(100vh);

  body.homepage & {
    padding: 0 0 60px;
  }

  body.obsolete & {
    border: 10px solid $alert-warning-bg;
    border-top: none;
  }

  > article {
    > .content {
      max-width: 960px;
      margin-left: auto;
      margin-right: auto;
      padding-top: $top-content-padding;
    }

    @media(min-width: 1024px) {
      margin-left: 226px;
    }

    @media(min-width: 1200px) {
      margin-right: 226px;
    }
  }
}

#site-content-title {
  margin-bottom: bootstrap.bs-spacer(6);
}

#page-footer {
  position: relative;
  z-index: 1000;
  background-color: $site-color-footer;
  padding: 32px;

  color: $site-color-light-grey;
  font-weight: 400;
  font-family: $site-font-family-alt;
  font-size: $font-size-small;

  .footer-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    text-align: left;

    @media(max-width: 768px) {
      flex-direction: column;
      text-align: center;
    }
  }

  .footer-main {
    margin-bottom: 24px;
    align-items: center;
  }

  .footer-tray {
    border-top: 1px solid #82878c;
    padding-top: 24px;

    .footer-licenses {
      width: 70%;
      max-width: 720px;

      @media(max-width: 768px) {
        width: 100%;
      }
    }
  }

  .footer-social-links {
    a {
      &:not(:first-child) {
        margin-left: 16px;
      }

      svg {
        height: 32px;
        width: 32px;
      }
    }

    @media(max-width: 768px) {
      margin-top: 24px;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline;
      margin-left: 16px;
    }

    @media(max-width: 768px) {
      margin-top: 12px;

      li:first-child {
        margin-left: 0;
      }
    }
  }

  a {
    color: $site-color-light-grey;
    font-family: $site-font-family-alt;

    &:hover, &:focus, &:active {
      color: $site-color-white;
    }
  }
}

// Navigation
#menu-toggle {
  display: none;
  align-items: center;
  line-height: 50px;
  margin-left: 20px;
  padding-right: 10px;
  cursor: pointer;
  z-index: 100;

  i {
    font-size: 32px;
  }
}

#mainnav {
  background-color: $site-color-header;
  color: $site-color-header-text;
  display: flex;
  $mainnav-entry-spacing: 12px;

  ul {
    margin: auto 0 auto auto;
    padding: 0;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    li {
      padding: 0 $mainnav-entry-spacing;

      a {
        color: $site-color-header-text;
        display: inline-block;
        padding: 0 6px;
        font-size: $site-font-size-header;
        font-weight: 400;
        font-family: $site-font-family-alt;

        &:hover, &:active {
          color: $site-color-card-link;
        }
      }

      &.searchfield {
        position: relative;
      }
    }
  }

  .brand {
    display: block;
    float: left;
    width: 85px;
    margin: 0 20px;
    overflow: hidden;
    line-height: 50px;
    position: relative;
    top: -1px;
  }
}

#subnav {
  min-height: 32px;
  line-height: 32px;
  margin-bottom: 10px;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      display: inline-block;
      width: 49%;

      a {
        display: block;
        padding-left: 5px;
        padding-right: 5px;
      }

      &.next {
        float: right;
        text-align: right;
      }
    }
  }
}


/* -----------------------------------------
 Anchor links
 ----------------------------------------- */
$icon-size: 24px;
$anchor-padding: 4px;

main .content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    .anchor {
      float: left;
      margin-left: -($icon-size + $anchor-padding);
      padding-right: $anchor-padding;
      overflow: hidden;

      .octicon-link {
        @include transition(.1s);

        @include md-icon-before("tag");
        font-style: italic;
        font-size: 24px;
        color: $site-color-body;
        opacity: 0;

        &:hover {
          color: lighten($brand-primary, 25%);
        }
      }

      &:focus .octicon-link {
        opacity: 1
      }
    }

    &:hover {
      .anchor .octicon-link {
        opacity: 1
      }
    }

    // Push # link targets clear of page header.
    &[id] {
      scroll-margin: 60px;
    }
  }

  // Push # link targets clear of page header.
  a[id] {
    scroll-margin: 60px;
  }
}


/* -----------------------------------------
  Utility Classes
 ----------------------------------------- */

.content {
  position: relative;
  padding: $content-padding;
}

.button {
  padding: 5px 10px;
  color: $blue;
  border-radius: 8px;
}

// Columns
.col2 {
  list-style: none;
  column-count: 2;
  column-gap: 0;
  padding-left: $font-size-base * 0.5;

  li {
    page-break-inside: avoid;
    padding: $font-size-base * 0.5;
    font-size: $font-size-small;
  }
}

.col3 {
  list-style: none;
  column-count: 3;
  column-gap: 0;

  li {
    page-break-inside: avoid;
  }
}

.break-50 {
  width: 50% !important;
}

.break-60 {
  width: 60% !important;
}

.break-70 {
  width: 70% !important;
}

.break-80 {
  width: 80% !important;
}

.break-90 {
  width: 90% !important;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: -15px;
  margin-right: -15px;
}

.card {
  display: block;
  position: relative;
  width: 300px;
  height: auto;
  min-height: 100px;
  padding: 20px;
  margin: 15px;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #294058;
  border-radius: 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.21);
  color: $site-color-card-text;

  h1, h2, h3, h4, h5, h6 {
    font-family: $site-font-family-gsans;
    margin-top: 0;

    a {
      color: $site-color-card-text;
      font-family: $site-font-family-gsans;
    }

    .octicon-link {
      display: none !important;
    }
  }

  h3 {
    font-size: bootstrap.$h2-font-size;
  }

  a {
    color: $site-color-card-link;
  }

  &.narrow {
    width: 250px;
  }
}

// Support for .card-grid formatted as a markdown unordered list
ul.card-grid {
  padding-left: 0;
}

// Platform logos
li.card {
  color: inherit;
  background-color: transparent;
  box-shadow: none;

  .logo {
    display: block;
    padding-bottom: $font-size-base;
  }

  h1, h2, h3, h4, h5, h6 {
    a {
      color: inherit;
    }
  }
}

@include dart-style-for(good, $alert-success-bg, $alert-success-fg, 'good');
@include dart-style-for(bad, $alert-danger-bg, $alert-danger-fg, 'bad');
@include dart-style-for(passes-sa, $alert-success-bg, $alert-success-fg, '\2714  static analysis: success');
@include dart-style-for(fails-sa, $alert-danger-bg, $alert-danger-fg, '\2717  static analysis: error/warning');
@include dart-style-for(runtime-success, $alert-success-bg, $alert-success-fg, '\2714  runtime: success');
@include dart-style-for(runtime-fail, $alert-danger-bg, $alert-danger-fg, '\2717  runtime: error');
@include dart-style-for('highlight-languages .language-dart:not(.no-lang)', inherit, $brand-primary, 'Dart');
@include dart-style-for('highlight-languages .language-js:not(.no-lang)', inherit, #f1a85a, 'JavaScript');
@include dart-style-for('highlight-languages .language-swift:not(.no-lang)', inherit, #f05137, 'Swift');

.muted {
  color: $gray;
}

.footnote {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    counter-increment: step-counter;
    margin-bottom: 10px;
    position: relative;

    &:before {
      content: counter(step-counter);
      position: absolute;
      left: -25px;
      top: -3px;
      font-size: 20px;
      font-weight: bold;
      padding: 3px 8px;
    }
  }
}

/* -----------------------------------------
  Bootstrap Overwrites
 ----------------------------------------- */

.container {
  position: relative;
  max-width: 100%;
  width: $live-content-width;
  margin: 0 auto;
}

.mini-toc {
  @extend .alert;
  background-color: $gray-light;

  h4 {
    margin-top: 0;
  }

  ul {
    padding-left: 1.5rem;
    margin-bottom: 0;
  }
}

// Popovers

h3.popover-header {
  font-weight: $font-weight-light-bold;
  margin-top: 0;
}

@mixin popover-open {
  &.popover-open {
    font-weight: 500;
    border-color: $default-link;
  }
}

[data-toggle="popover"] {
  background: none;
  border-bottom: 2px dotted $gray;
  padding: 0;
  cursor: pointer;
  @include popover-open;
}

@media (hover: hover) {
  [data-toggle="popover"]:hover {
    border-color: $default-link !important;
  }
}

.table {
  width: 100%;
  @extend .table-striped;

  // override .table-striped macro, remove top border
  td {
    border-top: none;
  }
}

.table-wrapper {
  overflow-x: auto;
}

.alert {
  border: none;
  border-radius: 0;
  color: $site-color-body;
  margin-top: 1rem;
  padding: 30px 30px;

  i.material-icons {
    font-size: 20px;
    user-select: none;
    vertical-align: -4px;
  }

  code {
    background-color: transparent;
  }

  pre {
    background-color: #00000010;
  }

  p:last-child {
    margin-bottom: 0;
  }

  &.alert-success {
    width: auto;
    background-color: $alert-success-bg;
  }

  &.alert-info {
    width: auto;
    background-color: $alert-info-bg;
  }

  &.alert-warning {
    width: auto;
    background-color: $alert-warning-bg;
  }

  &.alert-danger {
    width: auto;
    background-color: $alert-danger-bg;
  }

  &.alert-obsolete {
    width: auto;
    background-color: $gray-dark;
    color: $white-base;
  }
}

/* Used for inlined icon markers, usually at the start of a paragraph */
.content > p > i.material-icons {
  vertical-align: bottom;
}

// Overwrite bootstrap's breadcrumbs
.breadcrumb {
  align-items: center;
}

.breadcrumb-item {
  align-items: center;
  display: flex;

  + .breadcrumb-item {
    &::before {
      font: $site-font-icon;
    }
  }

  &.active a {
    color: bootstrap.$breadcrumb-active-color;
    cursor: default; // Disable interactive cursor if already active
  }
}

ul.nav-list {
  list-style: none;
  padding: 0;

  li {
    border-bottom: 1px solid $gray-light;

    h2 {
      font-weight: 400;
      font-size: 20px;
      margin-bottom: 0;
    }
  }
}

#page-github-links {
  float: right;

  // Hide page source button on generated pages
  .generated-page & a:first-child {
    display: none;
  }

  .btn {
    color: $site-color-body;
    $padding-x: bootstrap.$btn-padding-x * 0.5;
    padding-left: $padding-x;
    padding-right: $padding-x;
    border: none;
    box-shadow: none;

    &:hover, &:focus-visible {
      color: $brand-primary;
    }

    &:active {
      color: lighten($brand-primary, 25%);
    }
  }

  .material-icons {
    font-size: 18px;
  }
}


/* -----------------------------------------
  Templates
 ----------------------------------------- */

// Homepage
body.homepage {
  #sidenav {
    display: none;
  }

  section {
    padding: 0;
  }

  pre.prettyprint {
    margin-top: 0;
    height: 200px;
    overflow: auto;
  }

  .card-grid {
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

// Error Page
body.error {
  #sidenav {
    display: none;
  }

  .banner {
    display: none;
  }

  background-color: #132030;
  background-image: url('/assets/img/404-bg-pattern.jpg');
  color: #8d9399;

  @media(min-width: 1600px) {
    background-size: cover;
  }

  h1 {
    color: white;
    font-family: $site-font-family-gsans-display;
    font-size: 100px;
    margin: 0 auto;
  }

  h2 {
    color: white;
    font-family: $site-font-family-gsans;
    font-size: 24px;
    margin: 8px auto 16px;
  }

  #in-content-search {
    input[type="search"] {
      display: inline-block;
      background: #35404d;
      color: white;
      font-size: 20px;
      padding: 10px 40px;
      border-radius: 30px;
      height: 70px;
      line-height: 70px;
      width: 100%;
      max-width: 880px;
      margin: 0 auto 88px;
    }
  }

  .content {
    a {
      color: $site-color-card-link;
    }
  }
}

// Top-level Page
body.top {
  #sidenav {
    display: none;
  }

  #site-toc--inline {
    display: block;
  }

  #site-toc--side {
    display: none;
  }
}

body.obsolete {
  #page-header {
    .alert {
      margin: 0;

      h4 {
        margin-bottom: 0;
        margin-top: 0;
      }
    }
  }
}


/* -----------------------------------------
  Media Queries
 ----------------------------------------- */

@media(max-width: 1024px) {
  #menu-toggle {
    display: flex;
  }

  #sidenav {
    top: 0 !important;
    max-height: 100vh !important;
    bottom: 0;
    min-width: 300px;
    max-width: calc(100vw - 60px);
    background: #fff;
    z-index: 100;
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
    transform: translateX(-100%);
    transition: transform 0.4s ease-in-out;

    .site-header__search {
      display: flex;
    }

    .nav-link {
      white-space: nowrap;
    }
  }

  body.open_menu {
    &:before {
      content: '';
      display: block;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      z-index: 5;
      background-color: rgba($gray-base, 0.5);
      cursor: pointer;
      pointer-events: none;
      @include transition(0.5s);
    }

    #sidenav {
      display: block;
      left: 0 !important;
      transform: translateX(0);
    }
  }
}

@media(max-width: 960px) {
  #mainnav {
    ul {
      li {
        display: none;

        &.searchfield {
          display: block;
        }
      }
    }
  }
}

@media(max-width: 600px) {
  .card {
    width: 100%;
  }
  .break-50,
  .break-60,
  .break-70,
  .break-80,
  .break-90 {
    width: 100% !important;
  }
}

@media(max-width: 479px) {
  #menu-toggle {
    order: 2;
  }
  #mainnav {
    ul {
      li {
        &.searchfield {
          display: none;
        }
      }
    }
  }
}
