<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGraffle6</string>
		<string>161.6.0.234333</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {1152, 733}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2012-10-01 20:41:17 +0000</string>
	<key>Creator</key>
	<string>Mary Campione</string>
	<key>DisplayScale</key>
	<string>1 in = 1.00000 in</string>
	<key>GraphDocumentVersion</key>
	<integer>12</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{21, 347}, {395, 22}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0</string>
					<key>g</key>
					<string>0</string>
					<key>r</key>
					<string>0.501961</string>
				</dict>
				<key>Font</key>
				<string>HelveticaNeue-BoldItalic</string>
				<key>Size</key>
				<real>14</real>
			</dict>
			<key>ID</key>
			<integer>65</integer>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>2</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1347\cocoasubrtf570
{\fonttbl\f0\fnil\fcharset0 HelveticaNeue;}
{\colortbl;\red255\green255\blue255;\red128\green0\blue0;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\i\b\fs28 \cf2 Save to $tutorial/get-started/images/dartvm-web-app.png}</string>
				<key>VerticalPad</key>
				<integer>2</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{74, 364.625}, {357, 22}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0</string>
					<key>g</key>
					<string>0</string>
					<key>r</key>
					<string>0.501961</string>
				</dict>
				<key>Font</key>
				<string>HelveticaNeue-BoldItalic</string>
				<key>Size</key>
				<real>14</real>
			</dict>
			<key>ID</key>
			<integer>64</integer>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>2</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1347\cocoasubrtf570
{\fonttbl\f0\fnil\fcharset0 HelveticaNeue;}
{\colortbl;\red255\green255\blue255;\red128\green0\blue0;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\i\b\fs28 \cf2 the screenshot below is not saved anywhere by itself}</string>
				<key>VerticalPad</key>
				<integer>2</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{16.2410888671875, 68}, {395, 22}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0</string>
					<key>g</key>
					<string>0</string>
					<key>r</key>
					<string>0.501961</string>
				</dict>
				<key>Font</key>
				<string>HelveticaNeue-BoldItalic</string>
				<key>Size</key>
				<real>14</real>
			</dict>
			<key>ID</key>
			<integer>63</integer>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>2</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1347\cocoasubrtf570
{\fonttbl\f0\fnil\fcharset0 HelveticaNeue;}
{\colortbl;\red255\green255\blue255;\red128\green0\blue0;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\i\b\fs28 \cf2 Save to $tutorial/get-started/images/dartvm-cmd-line.png}</string>
				<key>VerticalPad</key>
				<integer>2</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{229.2410888671875, 596.5}, {80, 48.5}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>CourierNewPSMT</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>35</integer>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>7</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1347\cocoasubrtf570
{\fonttbl\f0\fmodern\fcharset0 CourierNewPSMT;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf0 ...}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{21, 493.19998897612095}, {343, 77.300011023879051}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>CourierNewPSMT</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>48</integer>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>7</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1347\cocoasubrtf570
{\fonttbl\f0\fmodern\fcharset0 CourierNewPSMT;}
{\colortbl;\red255\green255\blue255;}
\deftab720
\pard\pardeftab720

\f0\fs24 \cf0 import 'dart:html';\
\
void main() \{\
  querySelector('#ID').text = 'Hello, World!';\
\}}</string>
			</dict>
			<key>TextPlacement</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{249.54707875799684, 532.38494029735193}, {158.49252169122559, 40}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>9</integer>
			</dict>
			<key>ID</key>
			<integer>50</integer>
			<key>Rotation</key>
			<real>13.879398902064224</real>
			<key>Shape</key>
			<string>AdjustableArrow</string>
			<key>ShapeData</key>
			<dict>
				<key>ratio</key>
				<real>0.48658695816993713</real>
				<key>width</key>
				<real>18.607500076293945</real>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>0.860429</string>
						<key>r</key>
						<string>0.745947</string>
					</dict>
					<key>MiddleFraction</key>
					<real>0.70634919404983521</real>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.4</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>Fuzziness</key>
					<real>0.0</real>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.75</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>TextRelativeArea</key>
			<string>{{0.125, 0.25}, {0.75, 0.5}}</string>
			<key>isConnectedShape</key>
			<true/>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{294.80674331995169, 586.40793955406423}, {114.78868750879515, 40}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>9</integer>
			</dict>
			<key>ID</key>
			<integer>27</integer>
			<key>Rotation</key>
			<real>344.62476038052483</real>
			<key>Shape</key>
			<string>AdjustableArrow</string>
			<key>ShapeData</key>
			<dict>
				<key>ratio</key>
				<real>0.48692440986633301</real>
				<key>width</key>
				<real>24.341785430908203</real>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>0.860429</string>
						<key>r</key>
						<string>0.745947</string>
					</dict>
					<key>MiddleFraction</key>
					<real>0.70634919404983521</real>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.4</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>Fuzziness</key>
					<real>0.0</real>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.75</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>TextRelativeArea</key>
			<string>{{0.125, 0.25}, {0.75, 0.5}}</string>
			<key>isConnectedShape</key>
			<true/>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{406, 146}, {136, 64}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>23</integer>
			<key>Magnets</key>
			<array>
				<string>{1, 1}</string>
				<string>{1, -1}</string>
				<string>{-1, -1}</string>
				<string>{-1, 1}</string>
				<string>{0, 1}</string>
				<string>{0, -1}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
				<string>{-0.5, -0.233518}</string>
				<string>{-0.49144199999999999, 0.26006299999999999}</string>
				<string>{0.50711799999999996, -0.22408600000000001}</string>
				<string>{0.50711799999999996, 0.267179}</string>
				<string>{-0.27431, -0.474028}</string>
				<string>{0.27977999999999997, -0.47847800000000001}</string>
				<string>{0.29393799999999998, 0.54304399999999997}</string>
				<string>{-0.28623199999999999, 0.55380399999999996}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Cap</key>
					<integer>0</integer>
					<key>GapRatio</key>
					<real>0.5</real>
					<key>Join</key>
					<integer>0</integer>
					<key>Width</key>
					<real>4</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1347\cocoasubrtf570
{\fonttbl\f0\fmodern\fcharset0 CourierNewPSMT;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc

\f0\fs20 \cf0 Hello, World!}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{384, 122}, {136, 27}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>HelveticaNeue-Bold</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>45</integer>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1347\cocoasubrtf570
{\fonttbl\f0\fnil\fcharset0 HelveticaNeue;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 Standard Output}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{388, 418}, {80, 22.5}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>HelveticaNeue-Bold</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>1</integer>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1347\cocoasubrtf570
{\fonttbl\f0\fnil\fcharset0 HelveticaNeue;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 Dartium}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{363, 157.25}, {40, 40}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>42</integer>
			<key>Shape</key>
			<string>AdjustableArrow</string>
			<key>ShapeData</key>
			<dict>
				<key>ratio</key>
				<real>0.50000017881393433</real>
				<key>width</key>
				<real>20.000001907348633</real>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>0.860429</string>
						<key>r</key>
						<string>0.745947</string>
					</dict>
					<key>MiddleFraction</key>
					<real>0.4523809552192688</real>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.4</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.794995</string>
						<key>g</key>
						<string>0.459724</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>TextRelativeArea</key>
			<string>{{0.125, 0.25}, {0.75, 0.5}}</string>
			<key>isConnectedShape</key>
			<true/>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{247, 159.5}, {40, 40}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>40</integer>
			<key>Shape</key>
			<string>AdjustableArrow</string>
			<key>ShapeData</key>
			<dict>
				<key>ratio</key>
				<real>0.50000017881393433</real>
				<key>width</key>
				<real>20.000001907348633</real>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>0.860429</string>
						<key>r</key>
						<string>0.745947</string>
					</dict>
					<key>MiddleFraction</key>
					<real>0.4523809552192688</real>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.4</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.794995</string>
						<key>g</key>
						<string>0.459724</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>TextRelativeArea</key>
			<string>{{0.125, 0.25}, {0.75, 0.5}}</string>
			<key>isConnectedShape</key>
			<true/>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{280, 140.5}, {84, 65.5}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>HelveticaNeue-Bold</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>39</integer>
			<key>Shape</key>
			<string>Cloud</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1347\cocoasubrtf570
{\fonttbl\f0\fnil\fcharset0 HelveticaNeue;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 Dart VM}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{59, 159.5}, {187, 50.5}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>CourierNewPSMT</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>38</integer>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>7</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1347\cocoasubrtf570
{\fonttbl\f0\fmodern\fcharset0 CourierNewPSMT;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\fs24 \cf0 void main() \{\
  print('Hello, World');\
\}}</string>
			</dict>
			<key>TextPlacement</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{402.5999755859375, 548.25}, {84, 65.5}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>HelveticaNeue-Bold</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>9</integer>
			<key>Shape</key>
			<string>Cloud</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1347\cocoasubrtf570
{\fonttbl\f0\fnil\fcharset0 HelveticaNeue;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 Dart VM}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{47, 131}, {72, 36}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>HelveticaNeue-Bold</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>26</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Cap</key>
					<integer>0</integer>
					<key>Draws</key>
					<string>NO</string>
					<key>Join</key>
					<integer>0</integer>
					<key>Pattern</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1347\cocoasubrtf570
{\fonttbl\f0\fnil\fcharset0 HelveticaNeue;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc

\f0\b\fs24 \cf0 .dart file}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{396.5999755859375, 435}, {271.158935546875, 190}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>44</integer>
			<key>ImageID</key>
			<integer>2</integer>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{10.482177734375, 464}, {72, 36}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>HelveticaNeue-Bold</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>46</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Cap</key>
					<integer>0</integer>
					<key>Draws</key>
					<string>NO</string>
					<key>Join</key>
					<integer>0</integer>
					<key>Pattern</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1347\cocoasubrtf570
{\fonttbl\f0\fnil\fcharset0 HelveticaNeue;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc

\f0\b\fs24 \cf0 .dart file}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{213.2410888671875, 570.5}, {80, 36}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>HelveticaNeue-Bold</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>47</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Cap</key>
					<integer>0</integer>
					<key>Draws</key>
					<string>NO</string>
					<key>Join</key>
					<integer>0</integer>
					<key>Pattern</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1347\cocoasubrtf570
{\fonttbl\f0\fnil\fcharset0 HelveticaNeue;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc

\f0\b\fs24 \cf0 .html file}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>2</integer>
	<key>ImageCounter</key>
	<integer>3</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image2.png</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoLineLength</key>
		<real>0.20000000298023224</real>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2015-06-15 16:08:22 +0000</string>
	<key>Modifier</key>
	<string>shaza</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{612, 792}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>Expanded_Canvases</key>
		<array/>
		<key>Frame</key>
		<string>{{0, 72}, {1426, 805}}</string>
		<key>ShowInfo</key>
		<true/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>200</integer>
		<key>TopSlabHeight</key>
		<real>250</real>
		<key>VisibleRegion</key>
		<string>{{1.5, 38.5}, {912, 648}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>1</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
