.item-with-pic {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  img {
    margin:0;
    max-width: none;
  }
  .details {
    margin-left: 20px;
    .title {
      margin: 0;
    }
    .authors {
      color: $site-color-body; // TODO: drop once heading class styles (like .h4) are fixed.
    }
  }
}
