$pre-bg: #F5F5F5; // TODO(chalin): use $site-color-codeblock-bg?

@mixin pre-defaults {
  background-color: $pre-bg;
  font-size: 0.75rem;
  font-weight: $font-weight-normal;
  padding: 30px; // TODO(chalin): 1.5rem;
}

@import 'code_shared';

pre {
  @include pre-defaults;

  a {
    font-family: inherit;
    font-weight: inherit;
  }
}

@media screen {
  .com { color: #6E6E70; }
  // TODO(chalin): dropping the following overrides would allow us to be consistent with Flutter
  .kwd { color: #BC0056; }
  .pln { color: #7500A0; }
  .lit,
  .str { color: #00677A; }
}
