/* -----------------------------------------
   Variables (from Flutter)
----------------------------------------- */

// Colors
$flutter-color-teal: #60caf6;
$flutter-color-blue-500: #1389FD;
$flutter-color-dark-blue: #075b9a;
$flutter-color-fuchsia: #FF2B5B;
$flutter-color-light-blue: #E7F8FF;
$site-color-dark-background: #1C2834;
$site-color-black: #000;
$site-color-white: #FFF;
$site-color-codeblock-bg: #F8F9FA;
$site-color-light-grey: #D8D8D8;
$site-color-nav-links: #6E7274;
$site-color-body: #4A4A4A;
$site-color-body-light: rgba(74/255, 74/255, 74/255, .8);
$site-color-footer: $site-color-dark-background;
$site-color-primary: $flutter-color-blue-500;

// Layer stack
$site-z-header: 1000;
$site-z-footer: 99;
$site-z-snackbar: 150;
$hero-layer-1-z: 40;
$hero-layer-2-z: 41;
$hero-layer-3-z: 42;
$hero-layer-4-z: 43;
$hero-layer-5-z: 44;
$hero-phone-z: 50;
$hero-text-z: 60;

/* -----------------------------------------
   Variables
----------------------------------------- */

// Color Palette
$gray-base:                 #111111;
$white-base:                #ffffff;
$gray:                      #D3D3D3;
$gray-light:                #eeeeee;
$gray-lighter:              #f0f0f0;
$gray-dark:                 #111111;
$teal:                      #1FBAAC;
$blue:                      #1b87c9;
$blue-light:                #e2f4fd;

$brand-primary:             #1967D2;
$brand-secondary:           #13B9FD; // 400
$brand-highlight:           #FFC108; // 700

$google-gray:               #202124; // 900
$google-gray-light:         #60646B; // 600
$google-gray-lighter:       #D5D7DA; // 100

$default-link:              #0175C2;
$default-link-visited:      #0175C2;

$site-color-header: $site-color-dark-background;
$site-color-header-text: #f8f9fa;
$site-color-card-text: #f8f9fa;
$site-color-card-link: #40C4FF;
$site-font-size-header: 14px;
$site-color-primary: $brand-primary;
$site-color-sidebar-active: #1389FD;

// Typography

$font-size-base:            0.875rem; // 14px
$font-family-base:          Roboto, sans-serif;
$font-family-monospace:     "Roboto Mono", Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
$google-font-family:        "Product Sans", $font-family-base;

// TODO: use / override BS defaults named $hX-font-size.
// Headings
$font-size-h1:            48px;
$font-size-h2:            24px;
$font-size-h3:            17px;
$font-size-h4:            15px;
$font-size-h5:            15px;
$font-size-h6:            15px;

// Spacing
$live-content-width:      1280px;
$content-padding:         20px;
$top-content-padding:     55px;

// Fonts
$site-font-family-roboto: 'Roboto', sans-serif;
$site-font-family-gsans: 'Google Sans', 'Roboto', sans-serif;
$site-font-family-gsans-display: 'Google Sans Display', 'Google Sans', 'Roboto', sans-serif;
$site-font-family-base: $site-font-family-roboto;
$site-font-family-alt: $site-font-family-gsans;
$site-font-family-icon: 'Material Icons';
$site-font-family-monospace: 'Roboto Mono', monospace;
$site-font-icon: 24px/1 $site-font-family-icon;

// Layout
$site-header-height: 50px;
$site-header-with-banner-height: 98px; // 50 + 48
$site-header-with-obsolete-height: 131px; // 50 + 81
$site-header-with-banner-obsolete-height: 179px; // 50 + 81 + 48
$site-footer-md-default-height: 140px;
$site-content-top-padding: 40px;
$site-content-max-width: 960px;
$site-sidebar-side-padding: 16px;
$site-nav-mobile-side-padding: 20px;
$site-snackbar-padding: 20px;

// Alerts
$alert-success-bg:        #ecfaf7;
$alert-success-fg:        #155723;
$alert-info-bg:           #e7f8ff;
$alert-warning-bg:        #fcf8e3;
$alert-danger-bg:         #fde9ee;
$alert-danger-fg:         #cb1425;

// Border Radius
$border-radius-base:        0px;
$border-radius-large:       0px;
$border-radius-small:       0px;

// Bootstrap config

$enable-shadows: true;

//== Breadcrumbs

$breadcrumb-divider: 'chevron_right';
$breadcrumb-item-padding: .25rem;

//== Card

$card-border-width: 0;
// $card-border-color: rgba(0,0,0,0);


//== Code

$code-color:                  #c7254e;
$code-bg:                     #f9f9f9;

$kbd-color:                   #fff;
$kbd-bg:                      #333;

// $pre-bg:                      #f5f5f5 !default;
// $pre-color:                   $gray-dark !default;
// $pre-border-color:            #ccc !default;
// $pre-scrollable-max-height:   340px !default;

//== Dropdown

$dropdown-divider-bg: #bbbbbb;
$dropdown-link-active-color: transparent;
$dropdown-link-active-bg: transparent;

//== Popovers

$popover-font-size: $font-size-base;
$popover-border-color: rgba(0,0,0,0);
