/* -----------------------------------------
   Variables
----------------------------------------- */

// Color Palette
$gray-base:                 #111111;
$white-base:                #ffffff;
$gray:                      #D3D3D3;
$gray-light:                #eeeeee;
$gray-lighter:              #f0f0f0;
$gray-dark:                 #111111;
$teal:                      #1FBAAC;
$blue:                      #1b87c9;
$blue-light:                #e2f4fd;

$brand-primary-dark:        #02569B; // 700
$brand-primary:             #0175C2; // 600
$brand-secondary:           #13B9FD; // 400
$brand-highlight:           #FFC108; // 700

$google-gray:               #202124; // 900
$google-gray-light:         #60646B; // 600
$google-gray-lighter:       #D5D7DA; // 100

$default-link:              #0175C2;
$default-link-visited:      #0175C2;

// Typography

$font-size-base:            1rem;
$font-family-base:          Roboto, sans-serif;
$font-family-monospace:     Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
$google-font-family:        "Product Sans", $font-family-base;

// TODO: use / override BS defaults named $hX-font-size.
// Headings
$font-size-h1:            37px;
$font-size-h2:            28px;
$font-size-h3:            24px;
$font-size-h4:            21px;
$font-size-h5:            18px;
$font-size-h6:            16px;

// Spacing
$live-content-width:      1280px;
$content-padding:         20px;

// Alerts
$alert-success-bg:        #dff0d8;
$alert-info-bg:           $blue-light;
$alert-warning-bg:        #fcf8e3;
$alert-danger-bg:         #f2dede;

// Border Radius
$border-radius-base:        0px;
$border-radius-large:       0px;
$border-radius-small:       0px;

// Bootstrap config

$enable-shadows: true;

//== Breadcrumbs

$breadcrumb-divider: 'chevron_right';
$breadcrumb-item-padding: .25rem;

//== Card

$card-border-width: 0;
// $card-border-color: rgba(0,0,0,0);


//== Code

$code-color:                  #c7254e;
$code-bg:                     #f9f9f9;

$kbd-color:                   #fff;
$kbd-bg:                      #333;

// $pre-bg:                      #f5f5f5 !default;
// $pre-color:                   $gray-dark !default;
// $pre-border-color:            #ccc !default;
// $pre-scrollable-max-height:   340px !default;

//== Dropdown

$dropdown-divider-bg: #bbbbbb;
$dropdown-link-active-color: transparent;
$dropdown-link-active-bg: transparent;

//== Popovers

$popover-font-size: $font-size-base;
$popover-border-color: rgba(0,0,0,0);
