---
title: Sitemap
description: Human-readable sitemap
toc: false
permalink: /map
---

<ul>
{% for document in site.pages %}
  {% if document.url and document.url != '/404' %}
  <li>
    <a href="{{document.url}}">{{ document.title | xml_escape }}</a><br>
    <small>{{document.url}}</small>
  </li>
  {% endif %}
{% endfor %}
{% for document in site.documents %}
  {% if document.url %}
  <li>
    <a href="{{document.url}}">{{ document.title | xml_escape }}</a><br>
    <small>{{document.url}}</small>
  </li>
  {% endif %}
{% endfor %}
</ul>
