name: concurrency_examples
description: dart.dev concurrency examples.
version: 0.0.1
publish_to: none

resolution: workspace
environment:
  sdk: ^3.8.0

dependencies:
  http: ^1.4.0

dev_dependencies:
  test: ^1.26.0
