<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGraffle7</string>
		<string>196.14.0.337361</string>
	</array>
	<key>ColorProfiles</key>
	<array>
		<dict>
			<key>data</key>
			<data>
			AAAMSExpbm8CEAAAbW50clJHQiBYWVogB84AAgAJAAYAMQAAYWNz
			cE1TRlQAAAAASUVDIHNSR0IAAAAAAAAAAAAAAAAAAPbWAAEAAAAA
			0y1IUCAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAARY3BydAAAAVAAAAAzZGVzYwAAAYQAAABs
			d3RwdAAAAfAAAAAUYmtwdAAAAgQAAAAUclhZWgAAAhgAAAAUZ1hZ
			WgAAAiwAAAAUYlhZWgAAAkAAAAAUZG1uZAAAAlQAAABwZG1kZAAA
			AsQAAACIdnVlZAAAA0wAAACGdmlldwAAA9QAAAAkbHVtaQAAA/gA
			AAAUbWVhcwAABAwAAAAkdGVjaAAABDAAAAAMclRSQwAABDwAAAgM
			Z1RSQwAABDwAAAgMYlRSQwAABDwAAAgMdGV4dAAAAABDb3B5cmln
			aHQgKGMpIDE5OTggSGV3bGV0dC1QYWNrYXJkIENvbXBhbnkAAGRl
			c2MAAAAAAAAAEnNSR0IgSUVDNjE5NjYtMi4xAAAAAAAAAAAAAAAS
			c1JHQiBJRUM2MTk2Ni0yLjEAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFhZWiAAAAAAAADz
			UQABAAAAARbMWFlaIAAAAAAAAAAAAAAAAAAAAABYWVogAAAAAAAA
			b6IAADj1AAADkFhZWiAAAAAAAABimQAAt4UAABjaWFlaIAAAAAAA
			ACSgAAAPhAAAts9kZXNjAAAAAAAAABZJRUMgaHR0cDovL3d3dy5p
			ZWMuY2gAAAAAAAAAAAAAABZJRUMgaHR0cDovL3d3dy5pZWMuY2gA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAZGVzYwAAAAAAAAAuSUVDIDYxOTY2LTIuMSBEZWZhdWx0
			IFJHQiBjb2xvdXIgc3BhY2UgLSBzUkdCAAAAAAAAAAAAAAAuSUVD
			IDYxOTY2LTIuMSBEZWZhdWx0IFJHQiBjb2xvdXIgc3BhY2UgLSBz
			UkdCAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGRlc2MAAAAAAAAALFJl
			ZmVyZW5jZSBWaWV3aW5nIENvbmRpdGlvbiBpbiBJRUM2MTk2Ni0y
			LjEAAAAAAAAAAAAAACxSZWZlcmVuY2UgVmlld2luZyBDb25kaXRp
			b24gaW4gSUVDNjE5NjYtMi4xAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAB2aWV3AAAAAAATpP4AFF8uABDPFAAD7cwABBMLAANcngAA
			AAFYWVogAAAAAABMCVYAUAAAAFcf521lYXMAAAAAAAAAAQAAAAAA
			AAAAAAAAAAAAAAAAAAKPAAAAAnNpZyAAAAAAQ1JUIGN1cnYAAAAA
			AAAEAAAAAAUACgAPABQAGQAeACMAKAAtADIANwA7AEAARQBKAE8A
			VABZAF4AYwBoAG0AcgB3AHwAgQCGAIsAkACVAJoAnwCkAKkArgCy
			ALcAvADBAMYAywDQANUA2wDgAOUA6wDwAPYA+wEBAQcBDQETARkB
			HwElASsBMgE4AT4BRQFMAVIBWQFgAWcBbgF1AXwBgwGLAZIBmgGh
			AakBsQG5AcEByQHRAdkB4QHpAfIB+gIDAgwCFAIdAiYCLwI4AkEC
			SwJUAl0CZwJxAnoChAKOApgCogKsArYCwQLLAtUC4ALrAvUDAAML
			AxYDIQMtAzgDQwNPA1oDZgNyA34DigOWA6IDrgO6A8cD0wPgA+wD
			+QQGBBMEIAQtBDsESARVBGMEcQR+BIwEmgSoBLYExATTBOEE8AT+
			BQ0FHAUrBToFSQVYBWcFdwWGBZYFpgW1BcUF1QXlBfYGBgYWBicG
			NwZIBlkGagZ7BowGnQavBsAG0QbjBvUHBwcZBysHPQdPB2EHdAeG
			B5kHrAe/B9IH5Qf4CAsIHwgyCEYIWghuCIIIlgiqCL4I0gjnCPsJ
			EAklCToJTwlkCXkJjwmkCboJzwnlCfsKEQonCj0KVApqCoEKmAqu
			CsUK3ArzCwsLIgs5C1ELaQuAC5gLsAvIC+EL+QwSDCoMQwxcDHUM
			jgynDMAM2QzzDQ0NJg1ADVoNdA2ODakNww3eDfgOEw4uDkkOZA5/
			DpsOtg7SDu4PCQ8lD0EPXg96D5YPsw/PD+wQCRAmEEMQYRB+EJsQ
			uRDXEPURExExEU8RbRGMEaoRyRHoEgcSJhJFEmQShBKjEsMS4xMD
			EyMTQxNjE4MTpBPFE+UUBhQnFEkUahSLFK0UzhTwFRIVNBVWFXgV
			mxW9FeAWAxYmFkkWbBaPFrIW1hb6Fx0XQRdlF4kXrhfSF/cYGxhA
			GGUYihivGNUY+hkgGUUZaxmRGbcZ3RoEGioaURp3Gp4axRrsGxQb
			OxtjG4obshvaHAIcKhxSHHscoxzMHPUdHh1HHXAdmR3DHeweFh5A
			HmoelB6+HukfEx8+H2kflB+/H+ogFSBBIGwgmCDEIPAhHCFIIXUh
			oSHOIfsiJyJVIoIiryLdIwojOCNmI5QjwiPwJB8kTSR8JKsk2iUJ
			JTglaCWXJccl9yYnJlcmhya3JugnGCdJJ3onqyfcKA0oPyhxKKIo
			1CkGKTgpaymdKdAqAio1KmgqmyrPKwIrNitpK50r0SwFLDksbiyi
			LNctDC1BLXYtqy3hLhYuTC6CLrcu7i8kL1ovkS/HL/4wNTBsMKQw
			2zESMUoxgjG6MfIyKjJjMpsy1DMNM0YzfzO4M/E0KzRlNJ402DUT
			NU01hzXCNf02NzZyNq426TckN2A3nDfXOBQ4UDiMOMg5BTlCOX85
			vDn5OjY6dDqyOu87LTtrO6o76DwnPGU8pDzjPSI9YT2hPeA+ID5g
			PqA+4D8hP2E/oj/iQCNAZECmQOdBKUFqQaxB7kIwQnJCtUL3QzpD
			fUPARANER0SKRM5FEkVVRZpF3kYiRmdGq0bwRzVHe0fASAVIS0iR
			SNdJHUljSalJ8Eo3Sn1KxEsMS1NLmkviTCpMcky6TQJNSk2TTdxO
			JU5uTrdPAE9JT5NP3VAnUHFQu1EGUVBRm1HmUjFSfFLHUxNTX1Oq
			U/ZUQlSPVNtVKFV1VcJWD1ZcVqlW91dEV5JX4FgvWH1Yy1kaWWlZ
			uFoHWlZaplr1W0VblVvlXDVchlzWXSddeF3JXhpebF69Xw9fYV+z
			YAVgV2CqYPxhT2GiYfViSWKcYvBjQ2OXY+tkQGSUZOllPWWSZedm
			PWaSZuhnPWeTZ+loP2iWaOxpQ2maafFqSGqfavdrT2una/9sV2yv
			bQhtYG25bhJua27Ebx5veG/RcCtwhnDgcTpxlXHwcktypnMBc11z
			uHQUdHB0zHUodYV14XY+dpt2+HdWd7N4EXhueMx5KnmJeed6Rnql
			ewR7Y3vCfCF8gXzhfUF9oX4BfmJ+wn8jf4R/5YBHgKiBCoFrgc2C
			MIKSgvSDV4O6hB2EgITjhUeFq4YOhnKG14c7h5+IBIhpiM6JM4mZ
			if6KZIrKizCLlov8jGOMyo0xjZiN/45mjs6PNo+ekAaQbpDWkT+R
			qJIRknqS45NNk7aUIJSKlPSVX5XJljSWn5cKl3WX4JhMmLiZJJmQ
			mfyaaJrVm0Kbr5wcnImc951kndKeQJ6unx2fi5/6oGmg2KFHobai
			JqKWowajdqPmpFakx6U4pammGqaLpv2nbqfgqFKoxKk3qamqHKqP
			qwKrdavprFys0K1ErbiuLa6hrxavi7AAsHWw6rFgsdayS7LCsziz
			rrQltJy1E7WKtgG2ebbwt2i34LhZuNG5SrnCuju6tbsuu6e8Ibyb
			vRW9j74KvoS+/796v/XAcMDswWfB48JfwtvDWMPUxFHEzsVLxcjG
			RsbDx0HHv8g9yLzJOsm5yjjKt8s2y7bMNcy1zTXNtc42zrbPN8+4
			0DnQutE80b7SP9LB00TTxtRJ1MvVTtXR1lXW2Ndc1+DYZNjo2WzZ
			8dp22vvbgNwF3IrdEN2W3hzeot8p36/gNuC94UThzOJT4tvjY+Pr
			5HPk/OWE5g3mlucf56noMui86Ubp0Opb6uXrcOv77IbtEe2c7iju
			tO9A78zwWPDl8XLx//KM8xnzp/Q09ML1UPXe9m32+/eK+Bn4qPk4
			+cf6V/rn+3f8B/yY/Sn9uv5L/tz/bf//
			</data>
			<key>space</key>
			<string>9eaea0911d89d63e39e95f2e2116eaec7e0bb91e</string>
		</dict>
	</array>
	<key>CreationDate</key>
	<string>2012-11-27 19:56:31 +0000</string>
	<key>Creator</key>
	<string>Mary Campione</string>
	<key>GraphDocumentVersion</key>
	<integer>16</integer>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>ImageCounter</key>
	<integer>2</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image1.png</string>
	</array>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2020-03-05 18:42:12 +0000</string>
	<key>Modifier</key>
	<string>Kathy Walrath</string>
	<key>MovementHandleVisible</key>
	<string>NO</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{611.99997234344482, 792}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>Sheets</key>
	<array>
		<dict>
			<key>ActiveLayerIndex</key>
			<integer>0</integer>
			<key>AutoAdjust</key>
			<integer>6</integer>
			<key>AutosizingMargin</key>
			<integer>72</integer>
			<key>BackgroundGraphic</key>
			<dict>
				<key>Bounds</key>
				<string>{{0, 0}, {576, 733}}</string>
				<key>Class</key>
				<string>GraffleShapes.CanvasBackgroundGraphic</string>
				<key>ID</key>
				<integer>0</integer>
				<key>Style</key>
				<dict>
					<key>shadow</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
					<key>stroke</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
				</dict>
				<key>Text</key>
				<dict>
					<key>TextAlongPathGlyphAnchor</key>
					<string>center</string>
				</dict>
			</dict>
			<key>BaseZoom</key>
			<integer>0</integer>
			<key>CanvasDimensionsOrigin</key>
			<string>{0, 0}</string>
			<key>CanvasOrigin</key>
			<string>{0, 0}</string>
			<key>CanvasSizingMode</key>
			<integer>1</integer>
			<key>ColumnAlign</key>
			<integer>1</integer>
			<key>ColumnSpacing</key>
			<real>36</real>
			<key>DisplayScale</key>
			<string>1 in = 1.00000 in</string>
			<key>GraphicsList</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{77.796630859375, 274.58470890030259}, {9.2033675312995911, 115.5}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>34060</integer>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<real>0.0</real>
								<key>g</key>
								<real>0.0</real>
								<key>r</key>
								<real>0.0</real>
								<key>space</key>
								<string>9eaea0911d89d63e39e95f2e2116eaec7e0bb91e</string>
							</dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>TextAlongPathGlyphAnchor</key>
						<string>center</string>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{42, 436}, {359, 22}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>b</key>
							<string>0</string>
							<key>g</key>
							<string>0</string>
							<key>r</key>
							<string>0.501961</string>
						</dict>
						<key>Font</key>
						<string>HelveticaNeue-BoldItalic</string>
						<key>Size</key>
						<real>14</real>
					</dict>
					<key>ID</key>
					<integer>34059</integer>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Pad</key>
						<real>2</real>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1671\cocoasubrtf600
{\fonttbl\f0\fnil\fcharset0 HelveticaNeue-BoldItalic;}
{\colortbl;\red255\green255\blue255;\red128\green0\blue0;}
{\*\expandedcolortbl;;\csgenericrgb\c50196\c0\c0;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\partightenfactor0

\f0\i\b\fs28 \cf2 Save to $tutorial/packages/images/other-folders.png}</string>
						<key>TextAlongPathGlyphAnchor</key>
						<string>left</string>
						<key>VerticalPad</key>
						<real>2</real>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{24, 15.710166931152344}, {369, 22}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>b</key>
							<string>0</string>
							<key>g</key>
							<string>0</string>
							<key>r</key>
							<string>0.501961</string>
						</dict>
						<key>Font</key>
						<string>HelveticaNeue-BoldItalic</string>
						<key>Size</key>
						<real>14</real>
					</dict>
					<key>ID</key>
					<integer>34058</integer>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Pad</key>
						<real>2</real>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1671\cocoasubrtf600
{\fonttbl\f0\fnil\fcharset0 HelveticaNeue-BoldItalic;}
{\colortbl;\red255\green255\blue255;\red128\green0\blue0;}
{\*\expandedcolortbl;;\csgenericrgb\c50196\c0\c0;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\partightenfactor0

\f0\i\b\fs28 \cf2 Save to $tutorial/packages/images/libraries-folder.png}</string>
						<key>TextAlongPathGlyphAnchor</key>
						<string>left</string>
						<key>VerticalPad</key>
						<real>2</real>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{51, 217.4744930267334}, {398.60400000000004, 21.406097412109375}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>b</key>
							<string>0</string>
							<key>g</key>
							<string>0</string>
							<key>r</key>
							<string>0.501961</string>
						</dict>
						<key>Font</key>
						<string>HelveticaNeue-BoldItalic</string>
						<key>Size</key>
						<real>14</real>
					</dict>
					<key>ID</key>
					<integer>70</integer>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Pad</key>
						<real>2</real>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1671\cocoasubrtf600
{\fonttbl\f0\fnil\fcharset0 HelveticaNeue-BoldItalic;}
{\colortbl;\red255\green255\blue255;\red128\green0\blue0;}
{\*\expandedcolortbl;;\csgenericrgb\c50196\c0\c0;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\partightenfactor0

\f0\i\b\fs28 \cf2 Save to $tutorial/packages/images/housekeeping-files.png}</string>
						<key>TextAlongPathGlyphAnchor</key>
						<string>left</string>
						<key>VerticalPad</key>
						<real>2</real>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{191, 536.63966751098633}, {51, 18}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>space</key>
							<string>gg22</string>
							<key>w</key>
							<string>0</string>
						</dict>
						<key>Font</key>
						<string>CourierNewPSMT</string>
						<key>Size</key>
						<real>11</real>
					</dict>
					<key>ID</key>
					<integer>17</integer>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Pad</key>
						<real>2</real>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1671\cocoasubrtf600
{\fonttbl\f0\fmodern\fcharset0 CourierNewPSMT;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\partightenfactor0

\f0\fs22 \cf0 example}</string>
						<key>TextAlongPathGlyphAnchor</key>
						<string>left</string>
						<key>VerticalPad</key>
						<real>2</real>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{252.5, 531.54933547973633}, {48, 25}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>space</key>
							<string>gg22</string>
							<key>w</key>
							<string>0</string>
						</dict>
						<key>Font</key>
						<string>Zapfino</string>
						<key>Size</key>
						<real>18</real>
					</dict>
					<key>ID</key>
					<integer>19</integer>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Pad</key>
						<real>2</real>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1671\cocoasubrtf600
{\fonttbl\f0\fmodern\fcharset0 CourierNewPSMT;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\partightenfactor0

\f0\fs36 \cf0 test}</string>
						<key>TextAlongPathGlyphAnchor</key>
						<string>left</string>
						<key>VerticalPad</key>
						<real>2</real>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{288.5, 487.82609939575195}, {37, 25}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>space</key>
							<string>gg22</string>
							<key>w</key>
							<string>0</string>
						</dict>
						<key>Font</key>
						<string>Zapfino</string>
						<key>Size</key>
						<real>18</real>
					</dict>
					<key>ID</key>
					<integer>21</integer>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Pad</key>
						<real>2</real>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1671\cocoasubrtf600
{\fonttbl\f0\fmodern\fcharset0 CourierNewPSMT;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\partightenfactor0

\f0\fs36 \cf0 doc}</string>
						<key>TextAlongPathGlyphAnchor</key>
						<string>left</string>
						<key>VerticalPad</key>
						<real>2</real>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{277.5, 475.91933059692383}, {59, 48.813559322033896}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>space</key>
							<string>gg22</string>
							<key>w</key>
							<string>0</string>
						</dict>
						<key>Font</key>
						<string>Zapfino</string>
						<key>Size</key>
						<real>18</real>
					</dict>
					<key>ID</key>
					<integer>34057</integer>
					<key>ImageID</key>
					<integer>1</integer>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>TextAlongPathGlyphAnchor</key>
						<string>center</string>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{188, 519.79933547973633}, {59, 48.813559322033896}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>space</key>
							<string>gg22</string>
							<key>w</key>
							<string>0</string>
						</dict>
						<key>Font</key>
						<string>Zapfino</string>
						<key>Size</key>
						<real>18</real>
					</dict>
					<key>ID</key>
					<integer>34056</integer>
					<key>ImageID</key>
					<integer>1</integer>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>TextAlongPathGlyphAnchor</key>
						<string>center</string>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{247, 519.73286819458008}, {59, 48.813559322033896}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>space</key>
							<string>gg22</string>
							<key>w</key>
							<string>0</string>
						</dict>
						<key>Font</key>
						<string>Zapfino</string>
						<key>Size</key>
						<real>18</real>
					</dict>
					<key>ID</key>
					<integer>34055</integer>
					<key>ImageID</key>
					<integer>1</integer>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>TextAlongPathGlyphAnchor</key>
						<string>center</string>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{228, 487.37822341918945}, {48, 25}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>space</key>
							<string>gg22</string>
							<key>w</key>
							<string>0</string>
						</dict>
						<key>Font</key>
						<string>Zapfino</string>
						<key>Size</key>
						<real>18</real>
					</dict>
					<key>ID</key>
					<integer>34052</integer>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Pad</key>
						<real>2</real>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1671\cocoasubrtf600
{\fonttbl\f0\fmodern\fcharset0 CourierNewPSMT;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\partightenfactor0

\f0\fs36 \cf0 tool}</string>
						<key>TextAlongPathGlyphAnchor</key>
						<string>left</string>
						<key>VerticalPad</key>
						<real>2</real>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{222.5, 475.47145462036133}, {59, 48.813559322033896}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>space</key>
							<string>gg22</string>
							<key>w</key>
							<string>0</string>
						</dict>
						<key>Font</key>
						<string>Zapfino</string>
						<key>Size</key>
						<real>18</real>
					</dict>
					<key>ID</key>
					<integer>34053</integer>
					<key>ImageID</key>
					<integer>1</integer>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>TextAlongPathGlyphAnchor</key>
						<string>center</string>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{94.75, 284.10549803911636}, {48, 48.813559322033896}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>34049</integer>
					<key>Shape</key>
					<string>Circle</string>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Width</key>
							<real>7</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>TextAlongPathGlyphAnchor</key>
						<string>left</string>
						<key>VerticalPad</key>
						<real>0.0</real>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{80.75, 489.17226545689482}, {48, 48.813559322033896}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>34048</integer>
					<key>Shape</key>
					<string>Circle</string>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Width</key>
							<real>7</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>TextAlongPathGlyphAnchor</key>
						<string>left</string>
						<key>VerticalPad</key>
						<real>0.0</real>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ID</key>
					<integer>26</integer>
					<key>LogicalPath</key>
					<dict>
						<key>elements</key>
						<array>
							<dict>
								<key>element</key>
								<string>MOVETO</string>
								<key>point</key>
								<string>{77.796630859375, 97.56646728515625}</string>
							</dict>
							<dict>
								<key>element</key>
								<string>LINETO</string>
								<key>point</key>
								<string>{98.796630859375, 122.56646728515625}</string>
							</dict>
							<dict>
								<key>element</key>
								<string>LINETO</string>
								<key>point</key>
								<string>{144.296630859375, 52.56646728515625}</string>
							</dict>
						</array>
					</dict>
					<key>Points</key>
					<array>
						<string>{77.796630859375, 97.56646728515625}</string>
						<string>{98.796630859375, 122.56646728515625}</string>
						<string>{144.296630859375, 52.56646728515625}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<real>1.0014055967330933</real>
								<key>g</key>
								<real>0.21631753444671631</real>
								<key>r</key>
								<real>0.055202580988407135</real>
								<key>space</key>
								<string>9eaea0911d89d63e39e95f2e2116eaec7e0bb91e</string>
							</dict>
							<key>Legacy</key>
							<true/>
							<key>Width</key>
							<real>12</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{493, 614}, {63, 109}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>b</key>
							<string>0</string>
							<key>g</key>
							<string>0.043376</string>
							<key>r</key>
							<string>1</string>
						</dict>
						<key>Font</key>
						<string>MarkerFelt-Thin</string>
						<key>Size</key>
						<real>96</real>
					</dict>
					<key>ID</key>
					<integer>34046</integer>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Pad</key>
						<real>2</real>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1671\cocoasubrtf600
{\fonttbl\f0\fnil\fcharset0 MarkerFelt-Thin;}
{\colortbl;\red255\green255\blue255;\red255\green11\blue0;}
{\*\expandedcolortbl;;\csgenericrgb\c100000\c4314\c0;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\partightenfactor0

\f0\fs192 \cf2 X}</string>
						<key>TextAlongPathGlyphAnchor</key>
						<string>left</string>
						<key>VerticalPad</key>
						<real>2</real>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{411.5, 607}, {63, 109}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>b</key>
							<string>0</string>
							<key>g</key>
							<string>0.043376</string>
							<key>r</key>
							<string>1</string>
						</dict>
						<key>Font</key>
						<string>MarkerFelt-Thin</string>
						<key>Size</key>
						<real>96</real>
					</dict>
					<key>ID</key>
					<integer>34045</integer>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Pad</key>
						<real>2</real>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1671\cocoasubrtf600
{\fonttbl\f0\fnil\fcharset0 MarkerFelt-Thin;}
{\colortbl;\red255\green255\blue255;\red255\green11\blue0;}
{\*\expandedcolortbl;;\csgenericrgb\c100000\c4314\c0;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\partightenfactor0

\f0\fs192 \cf2 X}</string>
						<key>TextAlongPathGlyphAnchor</key>
						<string>left</string>
						<key>VerticalPad</key>
						<real>2</real>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{177.5, 488.04933547973633}, {36.4052734375, 24}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>space</key>
							<string>gg22</string>
							<key>w</key>
							<string>0</string>
						</dict>
						<key>Font</key>
						<string>Zapfino</string>
						<key>Size</key>
						<real>18</real>
					</dict>
					<key>ID</key>
					<integer>23</integer>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Pad</key>
						<real>2</real>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1671\cocoasubrtf600
{\fonttbl\f0\fmodern\fcharset0 CourierNewPSMT;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\partightenfactor0

\f0\fs36 \cf0 bin}</string>
						<key>TextAlongPathGlyphAnchor</key>
						<string>center</string>
						<key>VerticalPad</key>
						<real>2</real>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{166.5, 475.91933059692383}, {59, 48.813559322033896}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>space</key>
							<string>gg22</string>
							<key>w</key>
							<string>0</string>
						</dict>
						<key>Font</key>
						<string>Zapfino</string>
						<key>Size</key>
						<real>18</real>
					</dict>
					<key>ID</key>
					<integer>22</integer>
					<key>ImageID</key>
					<integer>1</integer>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>TextAlongPathGlyphAnchor</key>
						<string>center</string>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{199.046630859375, 94.06646728515625}, {69, 45}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>space</key>
							<string>gg22</string>
							<key>w</key>
							<string>0</string>
						</dict>
						<key>Font</key>
						<string>CourierNewPSMT</string>
						<key>Size</key>
						<real>36</real>
					</dict>
					<key>ID</key>
					<integer>15</integer>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Pad</key>
						<real>2</real>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1671\cocoasubrtf600
{\fonttbl\f0\fmodern\fcharset0 CourierNewPSMT;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\partightenfactor0

\f0\fs72 \cf0 lib}</string>
						<key>TextAlongPathGlyphAnchor</key>
						<string>left</string>
						<key>VerticalPad</key>
						<real>2</real>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{164.59323120117188, 53.81646728515625}, {142.90678405761719, 115.5}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>14</integer>
					<key>ImageID</key>
					<integer>1</integer>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>TextAlongPathGlyphAnchor</key>
						<string>center</string>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{213.44138846794755, 313.57483494896337}, {130.71860383947691, 96.825155877881414}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>space</key>
							<string>gg22</string>
							<key>w</key>
							<string>0</string>
						</dict>
						<key>Font</key>
						<string>CourierNewPSMT</string>
						<key>Size</key>
						<real>18</real>
					</dict>
					<key>ID</key>
					<integer>7</integer>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<real>0.92732727527618408</real>
								<key>g</key>
								<real>0.80928438901901245</real>
								<key>r</key>
								<real>1.0045138597488403</real>
								<key>space</key>
								<string>9eaea0911d89d63e39e95f2e2116eaec7e0bb91e</string>
							</dict>
						</dict>
						<key>stroke</key>
						<dict>
							<key>CornerRadius</key>
							<real>9</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1671\cocoasubrtf600
{\fonttbl\f0\fmodern\fcharset0 CourierNewPSMT;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc\partightenfactor0

\f0\fs36 \cf0 README.md}</string>
						<key>TextAlongPathGlyphAnchor</key>
						<string>center</string>
					</dict>
					<key>TextPlacement</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{193.43343890068115, 283.92213096136186}, {130.71860383947691, 96.825155877881414}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>space</key>
							<string>gg22</string>
							<key>w</key>
							<string>0</string>
						</dict>
						<key>Font</key>
						<string>CourierNewPSMT</string>
						<key>Size</key>
						<real>18</real>
					</dict>
					<key>ID</key>
					<integer>9</integer>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<real>1.0004740953445435</real>
								<key>g</key>
								<real>0.88977950811386108</real>
								<key>r</key>
								<real>0.78936952352523804</real>
								<key>space</key>
								<string>9eaea0911d89d63e39e95f2e2116eaec7e0bb91e</string>
							</dict>
						</dict>
						<key>stroke</key>
						<dict>
							<key>CornerRadius</key>
							<real>9</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1671\cocoasubrtf600
{\fonttbl\f0\fmodern\fcharset0 CourierNewPSMT;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc\partightenfactor0

\f0\fs36 \cf0 LICENSE}</string>
						<key>TextAlongPathGlyphAnchor</key>
						<string>center</string>
					</dict>
					<key>TextPlacement</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{176.09321594238281, 254.87458419799842}, {130.71860383947691, 96.825155877881414}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>space</key>
							<string>gg22</string>
							<key>w</key>
							<string>0</string>
						</dict>
						<key>Font</key>
						<string>CourierNewPSMT</string>
						<key>Size</key>
						<real>18</real>
					</dict>
					<key>ID</key>
					<integer>8</integer>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<real>0.66716200113296509</real>
								<key>g</key>
								<real>0.93707650899887085</real>
								<key>r</key>
								<real>1.0011061429977417</real>
								<key>space</key>
								<string>9eaea0911d89d63e39e95f2e2116eaec7e0bb91e</string>
							</dict>
						</dict>
						<key>stroke</key>
						<dict>
							<key>CornerRadius</key>
							<real>9</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1671\cocoasubrtf600
{\fonttbl\f0\fmodern\fcharset0 CourierNewPSMT;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc\partightenfactor0

\f0\fs36 \cf0 AUTHORS}</string>
						<key>TextAlongPathGlyphAnchor</key>
						<string>center</string>
					</dict>
					<key>TextPlacement</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{77.796630859375, 87.159685813774558}, {48, 48.813559322033896}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>34050</integer>
					<key>Shape</key>
					<string>Circle</string>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Width</key>
							<real>7</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>TextAlongPathGlyphAnchor</key>
						<string>left</string>
						<key>VerticalPad</key>
						<real>0.0</real>
					</dict>
				</dict>
			</array>
			<key>GridInfo</key>
			<dict/>
			<key>HPages</key>
			<integer>1</integer>
			<key>KeepToScale</key>
			<false/>
			<key>Layers</key>
			<array>
				<dict>
					<key>Artboards</key>
					<false/>
					<key>Lock</key>
					<false/>
					<key>Name</key>
					<string>Layer 1</string>
					<key>Print</key>
					<true/>
					<key>View</key>
					<true/>
				</dict>
			</array>
			<key>Orientation</key>
			<integer>2</integer>
			<key>PrintOnePage</key>
			<false/>
			<key>RowAlign</key>
			<integer>1</integer>
			<key>RowSpacing</key>
			<real>36</real>
			<key>SheetTitle</key>
			<string>Canvas 1</string>
			<key>UniqueID</key>
			<integer>1</integer>
			<key>VPages</key>
			<integer>1</integer>
			<key>VisibleVoidKey</key>
			<real>1</real>
		</dict>
	</array>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UseEntirePage</key>
	<false/>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>Frame</key>
		<string>{{471, 190}, {1262, 947}}</string>
		<key>ShowInfo</key>
		<true/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>244</integer>
		<key>Sidebar_Tab</key>
		<integer>0</integer>
		<key>VisibleRegion</key>
		<string>{{-368, -66}, {716, 837}}</string>
		<key>WindowInfo_InspectorTab</key>
		<array>
			<string>com.omnigroup.OmniGraffle.inspectorGroup.object</string>
		</array>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>1</real>
			</array>
		</array>
	</dict>
	<key>compressOnDiskKey</key>
	<false/>
	<key>copyLinkedImagesKey</key>
	<false/>
	<key>createSinglePDFKey</key>
	<integer>0</integer>
	<key>exportAreaKey</key>
	<integer>0</integer>
	<key>exportQualityKey</key>
	<real>100</real>
	<key>exportSizesKey</key>
	<array>
		<real>1</real>
		<string></string>
	</array>
	<key>fileFormatKey</key>
	<integer>0</integer>
	<key>htmlImageTypeKey</key>
	<integer>0</integer>
	<key>includeBackgroundGraphicKey</key>
	<true/>
	<key>includeNonPrintingLayersKey</key>
	<false/>
	<key>lastExportTypeKey</key>
	<integer>0</integer>
	<key>marginWidthKey</key>
	<real>0.0</real>
	<key>readOnlyKey</key>
	<false/>
	<key>resolutionForBMPKey</key>
	<real>1</real>
	<key>resolutionForGIFKey</key>
	<real>1</real>
	<key>resolutionForHTMLKey</key>
	<real>1</real>
	<key>resolutionForJPGKey</key>
	<real>1</real>
	<key>resolutionForPNGKey</key>
	<real>1</real>
	<key>resolutionForTIFFKey</key>
	<real>1</real>
	<key>resolutionUnitsKey</key>
	<integer>0</integer>
	<key>saveAsFlatFileOptionKey</key>
	<integer>1</integer>
	<key>useArtboardsKey</key>
	<false/>
	<key>useMarginKey</key>
	<false/>
	<key>useNotesKey</key>
	<false/>
</dict>
</plist>
