name: build

on:
  # Run on PRs and pushes to the default branch.
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    # Run build check every day at 3 AM PST.
    - cron: "0 11 * * 0"

# Declare default permissions as read only.
permissions: read-all

env:
  # Configure analytics reporting for pub.
  PUB_ENVIRONMENT: bot.github

jobs:
  build:
    name: Build site and check links
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd
      - uses: dart-lang/setup-dart@e51d8e571e22473a2ddebf0ef8a2123f0ab2c02c
        with:
          sdk: beta
      - name: Fetch Dart packages
        run: dart pub get
      - name: Install firebase-tools
        run: curl -sL https://firebase.tools | bash
      - name: Build site
        run: dart run dash_site build
      - name: Check for broken Markdown links
        run: dart run dash_site check-link-references
      - name: Check internal site links are functional
        run: dart run dash_site check-links
